Repository http4s/http4s, pull requests merged in 2021-10, with the labels that each got.

#5290 Ember Client retry reset connection and broken pipe errors
  ember-client/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Labels: bug, module:ember-client

#5288 Forbidding space in URI path was overzealous
  blaze-client/src/main/scala/org/http4s/client/blaze/Http1Connection.scala
  ember-core/src/main/scala/org/http4s/ember/core/Encoder.scala
Labels: bug, module:blaze-client, module:ember-client

#5286 Ember Server immediately close connection on timeout
  ember-core/src/main/scala/org/http4s/ember/core/EmberException.scala
  ember-server/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Labels: bug, module:ember-server
