Repository http4s/http4s, pull requests merged in 2021-05, with the labels that each got.

#4783 Fix Resource Leak In Jetty
  jetty/src/main/scala/org/http4s/server/jetty/JettyBuilder.scala
  jetty/src/main/scala/org/http4s/server/jetty/JettyLifeCycle.scala
  jetty/src/main/scala/org/http4s/server/jetty/JettyThreadPools.scala
  jetty/src/main/scala/org/http4s/server/jetty/LazyThreadPool.scala
  jetty/src/main/scala/org/http4s/server/jetty/UndestroyableThreadPool.scala
Labels: bug, module:jetty-server

#4796 Reset idle timeout when request is received by blaze-server
  blaze-core/src/main/scala/org/http4s/blazecore/IdleTimeoutStage.scala
Labels: bug, module:blaze-core

#4735 Buffered messages in Ember
  ember-core/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala
  ember-core/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/src/test/scala/org/http4s/ember/core/ParserSuite.scala
Labels: enhancement, module:ember-core

#4810 Read from an idle blaze-client connection to detect when server closes it
  blaze-client/src/main/scala/org/http4s/client/blaze/Http1Connection.scala
  blaze-client/src/test/scala/org/http4s/client/blaze/Http1ClientStageSuite.scala
  build.sbt
  project/Http4sPlugin.scala
Labels: module:blaze-client

#4812 Remove retry from blaze client
  blaze-client/src/main/scala/org/http4s/client/blaze/BlazeClient.scala
Labels: bug, module:blaze-client

#4823 Bugfix/4822
  ember-server/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/src/test/scala/org/http4s/ember/server/internal/ServerHelpersSuite.scala
Labels: module:ember-server

#4815 Fix "This stage 'IdleTimeoutStage' isn't connected!"
  blaze-client/src/main/scala/org/http4s/client/blaze/Http1Connection.scala
  blaze-client/src/test/scala/org/http4s/client/blaze/BlazeClientSuite.scala
Labels: bug, module:blaze-client

#4824 Remove multiple cookies
  core/src/main/scala/org/http4s/Message.scala
  core/src/main/scala/org/http4s/ResponseCookie.scala
  tests/src/test/scala/org/http4s/ResponderSpec.scala
Labels: bug, module:core, retarget

#4773 Refactor MultipartParser
  core/src/main/scala/org/http4s/multipart/MultipartParser.scala
Labels: enhancement, module:core

#4869 Reflag flaky blaze client tests as flaky
  blaze-client/src/test/scala-2.13/org/http4s/client/blaze/BlazeClient213Suite.scala
Labels: module:blaze-client, testing

#4873 Catch Exceptions in ParseResult.fromParser, and fix Content-Type so it doesn't throw
  core/src/main/scala/org/http4s/MessageFailure.scala
  core/src/main/scala/org/http4s/headers/Content-Type.scala
Labels: bug, module:core

#4787 Adding Header.Select fromSafe, toRaw multiple, and Aux
  blaze-server/src/test/scala/org/http4s/blaze/server/Http1ServerStageSpec.scala
  blaze-server/src/test/scala/org/http4s/blaze/server/ServerTestRoutes.scala
  core/src/main/scala/org/http4s/Header.scala
  core/src/main/scala/org/http4s/Headers.scala
  core/src/main/scala/org/http4s/headers/User-Agent.scala
  core/src/main/scala/org/http4s/syntax/HeaderSyntax.scala
  core/src/main/scala/org/http4s/util/Renderable.scala
  tests/src/test/scala/org/http4s/HeadersSpec.scala
  tests/src/test/scala/org/http4s/headers/ForwardedRenderersSuite.scala
  tests/src/test/scala/org/http4s/headers/HeaderLaws.scala
  tests/src/test/scala/org/http4s/parser/SimpleHeadersSpec.scala
Labels: breaking, module:core

#4870 Mark flaky test in JettyServerSuite
  jetty-server/src/test/scala/org/http4s/jetty/server/JettyServerSuite.scala
Labels: testing

#4875 An inadequate start to the migration guide
  docs/src/main/mdoc/upgrading.md
Labels: docs

#4874 Downgrade to play-json-2.9.2
  project/Http4sPlugin.scala
Labels: module:play-json

#4878 stable is v0.21, latest is 1.0
  website/src/hugo/static/_redirects
Labels: docs

#4882 Use more idiomatic `Network[F]`
  ember-client/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-server/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Labels: module:ember-client, module:ember-server

#4881 Ember-Client: Enable endpoint verification by default
  build.sbt
  ember-client/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-client/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Labels: module:ember-client

#4894 Port documentation to 0.23
  .github/workflows/ci.yml
  docs/src/main/mdoc/client.md
  docs/src/main/mdoc/cors.md
  docs/src/main/mdoc/csrf.md
  docs/src/main/mdoc/dsl.md
  docs/src/main/mdoc/entity.md
  docs/src/main/mdoc/gzip.md
  docs/src/main/mdoc/hsts.md
  docs/src/main/mdoc/json.md
  docs/src/main/mdoc/middleware.md
  docs/src/main/mdoc/service.md
  docs/src/main/mdoc/static.md
  docs/src/main/mdoc/streaming.md
  docs/src/main/mdoc/testing.md
  project/Http4sPlugin.scala
Labels: docs

#4895 Refresh MimeDB
  core/src/main/scala/org/http4s/MimeDB.scala
  project/build.sbt
Labels: breaking, module:core

#4898 Clean out deprecatia prior to 0.20
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeClientConfig.scala
  blaze-client/src/main/scala/org/http4s/blaze/client/bits.scala
  client/src/main/scala/org/http4s/client/Client.scala
  client/src/main/scala/org/http4s/client/middleware/Retry.scala
  core/src/main/scala/org/http4s/Charset.scala
  core/src/main/scala/org/http4s/CharsetRange.scala
  core/src/main/scala/org/http4s/ContentCoding.scala
  core/src/main/scala/org/http4s/EntityDecoder.scala
  core/src/main/scala/org/http4s/LanguageTag.scala
  core/src/main/scala/org/http4s/Message.scala
  core/src/main/scala/org/http4s/QueryParam.scala
  core/src/main/scala/org/http4s/Status.scala
  core/src/main/scala/org/http4s/headers/Accept-Charset.scala
  core/src/main/scala/org/http4s/headers/Accept-Encoding.scala
  core/src/main/scala/org/http4s/headers/Accept-Language.scala
  core/src/main/scala/org/http4s/multipart/Part.scala
  core/src/main/scala/org/http4s/package.scala
  core/src/main/scala/org/http4s/syntax/AsyncSyntax.scala
  dsl/src/main/scala/org/http4s/dsl/impl/ResponseGenerator.scala
  server/src/main/scala/org/http4s/server/middleware/URITranslation.scala
  server/src/main/scala/org/http4s/server/package.scala
Labels: breaking

#4902 Clean-up docs from cats-effect 2.0 things
  docs/src/main/mdoc/client.md
  docs/src/main/mdoc/dsl.md
Labels: docs

#4900 Fix typo: valiation -> validation
  ember-client/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Labels: module:ember-client

#4904 Remove jetty scaffold
  blaze-client/src/test/scala-2.13/org/http4s/client/blaze/BlazeClient213Suite.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientBase.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientSuite.scala
  build.sbt
  client/src/test/scala/org/http4s/client/ClientRouteTestBattery.scala
  client/src/test/scala/org/http4s/client/JettyScaffold.scala
  client/src/test/scala/org/http4s/client/ServerScaffold.scala
Labels: CI
