Repository http4s/http4s, pull requests merged in 2021-09, with the labels that each got.

#5129 Block prometheus simpleclient-0.12
  project/Http4sPlugin.scala
Labels: module:prometheus-metrics

#5130 Backport empty Origin failure from #5082
  core/src/main/scala/org/http4s/headers/Origin.scala
  tests/src/test/scala/org/http4s/parser/OriginHeaderSuite.scala
Labels: bug, module:core

#5170 Update setup-node action to v2.4.0
  .github/workflows/ci.yml
  build.sbt
Labels: CI

#5158 Support monitoring of the blaze-client pool
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeClientBuilder.scala
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeClientState.scala
  blaze-client/src/main/scala/org/http4s/blaze/client/ConnectionManager.scala
  blaze-client/src/main/scala/org/http4s/blaze/client/PoolManager.scala
  blaze-client/src/test/scala-2.13/org/http4s/client/blaze/BlazeClient213Suite.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientBase.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientSuite.scala
Labels: enhancement, module:blaze-client

#5101 Add fetch options+timeout to FetchClient.
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeClientBuilder.scala
  dom-fetch-client/src/main/scala/org/http4s/dom/FetchClient.scala
  dom-fetch-client/src/main/scala/org/http4s/dom/FetchClientBuilder.scala
  dom-fetch-client/src/main/scala/org/http4s/dom/FetchOptions.scala
  dom-fetch-client/src/main/scala/org/http4s/dom/FetchReferrer.scala
  dom-fetch-client/src/test/scala/org/http4s/dom/FetchClientSuite.scala
  dom-service-worker-tests/src/test/scala/org/http4s/dom/ServiceWorkerAppSuite.scala
Labels: module:dom-fetch-client

#5238 Add yarn to the nix-shell
  shell.nix
Labels: module:ember-server

#5248 Fix inverted logic in ClientRouteTestBattery
  client/src/test/scala/org/http4s/client/ClientRouteTestBattery.scala
Labels: testing, module:client

#5032 Wrap blaze EOF in a SocketException
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeClient.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientSuite.scala
Labels: RFC, module:blaze-client

#5249 Fix fatal warning on ClientRouteTestBattery
  client/shared/src/test/scala/org/http4s/client/ClientRouteTestBattery.scala
  server-testing/src/test/scala/org/http4s/server/ServerRouteTestBattery.scala
Labels: testing, module:client

#5258 Mark blaze-client stats test as flaky
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientSuite.scala
Labels: CI, module:blaze-client

#5271 Eliminate exception allocation on parser hot path
  ember-client/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-server/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Labels: bug, module:ember-client, module:ember-server

#5247 Match on ClosedChannelException for EmptyStream since it's being adap…
  ember-client/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Labels: bug, module:ember-client

#5257 adopt -> adoptium, Java 16 -> Java 17
  .github/workflows/ci.yml
  build.sbt
  project/Http4sPlugin.scala
  project/plugins.sbt
  testing/src/test/scala/org/http4s/testing/ErrorReporting.scala
Labels: CI

#5274 Consolidate ArbitraryInstances and arbitrary
  build.sbt
  client/src/test/scala/org/http4s/client/middleware/RetrySuite.scala
  ember-core/src/test/scala/org/http4s/ember/core/TraversalSpec.scala
  laws/src/main/scala/org/http4s/laws/discipline/Arbitrary.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/src/test/scala/org/http4s/AuthoritySuite.scala
  tests/src/test/scala/org/http4s/CharsetRangeSuite.scala
  tests/src/test/scala/org/http4s/CharsetSuite.scala
  tests/src/test/scala/org/http4s/HeaderSuite.scala
  tests/src/test/scala/org/http4s/HeadersSpec.scala
  tests/src/test/scala/org/http4s/HttpDateSuite.scala
  tests/src/test/scala/org/http4s/HttpVersionSuite.scala
  tests/src/test/scala/org/http4s/MediaRangeSuite.scala
  tests/src/test/scala/org/http4s/MediaTypeSuite.scala
  tests/src/test/scala/org/http4s/MethodSuite.scala
  tests/src/test/scala/org/http4s/RegNameSuite.scala
  tests/src/test/scala/org/http4s/RequestPreludeSuite.scala
  tests/src/test/scala/org/http4s/ResponsePreludeSuite.scala
  tests/src/test/scala/org/http4s/SchemeSuite.scala
  tests/src/test/scala/org/http4s/ServerSentEventSpec.scala
  tests/src/test/scala/org/http4s/UriHostSuite.scala
  tests/src/test/scala/org/http4s/headers/AcceptCharsetSuite.scala
  tests/src/test/scala/org/http4s/headers/AcceptEncodingSuite.scala
  tests/src/test/scala/org/http4s/headers/AcceptHeaderSuite.scala
  tests/src/test/scala/org/http4s/headers/AcceptLanguageSuite.scala
  tests/src/test/scala/org/http4s/headers/AcceptSuite.scala
  tests/src/test/scala/org/http4s/headers/AgeSuite.scala
  tests/src/test/scala/org/http4s/headers/AllowSuite.scala
  tests/src/test/scala/org/http4s/headers/ContentEncodingSuite.scala
  tests/src/test/scala/org/http4s/headers/ContentLengthSuite.scala
  tests/src/test/scala/org/http4s/headers/ContentTypeHeaderSuite.scala
  tests/src/test/scala/org/http4s/headers/DateSuite.scala
  tests/src/test/scala/org/http4s/headers/ExpiresSuite.scala
  tests/src/test/scala/org/http4s/headers/ForwardedArbitraryInstances.scala
  tests/src/test/scala/org/http4s/headers/ForwardedSuite.scala
  tests/src/test/scala/org/http4s/headers/RefererSuite.scala
  tests/src/test/scala/org/http4s/headers/RetryAfterSuite.scala
  tests/src/test/scala/org/http4s/headers/StrictTransportSecuritySuite.scala
  tests/src/test/scala/org/http4s/headers/TransferEncodingSuite.scala
  tests/src/test/scala/org/http4s/headers/ZipkinHeaderSuite.scala
Labels: module:laws

#5279 Define and link all specified HTTP versions
  blaze-server/src/main/scala/org/http4s/blaze/server/Http2NodeStage.scala
  core/src/main/scala/org/http4s/HttpVersion.scala
  jetty-client/src/main/scala/org/http4s/jetty/client/JettyClient.scala
  jetty-client/src/main/scala/org/http4s/jetty/client/ResponseListener.scala
  okhttp-client/src/main/scala/org/http4s/okhttp/client/OkHttpBuilder.scala
  server/src/test/scala/org/http4s/server/middleware/VirtualHostSuite.scala
  tests/src/test/scala/org/http4s/HttpVersionSuite.scala
Labels: enhancement, module:core

#5253 Deprecate custom status reason phrases
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeHttp1ClientParser.scala
  blaze-core/src/test/scala/org/http4s/blazecore/ResponseParser.scala
  blaze-server/src/test/scala/org/http4s/blaze/server/Http1ServerStageSpec.scala
  core/src/main/scala/org/http4s/Status.scala
  ember-core/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/src/test/scala/org/http4s/ember/core/ResponseSplittingSuite.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  servlet/src/main/scala/org/http4s/servlet/Http4sServlet.scala
  tests/src/test/scala/org/http4s/StatusSpec.scala
Labels: module:core

#5294 Add DNT header model
  core/src/main/scala/org/http4s/headers/DNT.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/src/test/scala/org/http4s/headers/DNTSuite.scala
Labels: enhancement, module:core
