Repository http4s/http4s, pull requests merged in 2021-04, with the labels that each got.

#4699 Add custom dns resolver to BlazeClientBuilder.
  blaze-client/src/main/scala/org/http4s/client/blaze/BlazeClientBuilder.scala
  blaze-client/src/main/scala/org/http4s/client/blaze/Http1Client.scala
  blaze-client/src/main/scala/org/http4s/client/blaze/Http1Support.scala
Labels: enhancement

#4715 handle errors/close socket in ember server initial req read
  ember-server/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Labels: bug

#4739 Postpone using Query model until we need it
  core/src/main/scala/org/http4s/Query.scala
  tests/src/test/scala/org/http4s/UriSpec.scala
  tests/src/test/scala/org/http4s/UriSuite.scala
Labels: uri

#4736 Add ArrayStreamJsonDecoder method to http4s-circe
  circe/src/main/scala/org/http4s/circe/CirceInstances.scala
  circe/src/test/scala/org/http4s/circe/CirceSuite.scala
Labels: enhancement, module:circe

#4742 Update jackson-databind to 2.12.3
  project/Http4sPlugin.scala
Labels: modules:dropwizard-metrics

#4750 Draining bug fix
  build.sbt
  ember-core/src/main/scala/org/http4s/ember/core/EmptyStreamError.scala
  ember-core/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/src/main/scala/org/http4s/ember/core/package.scala
  ember-server/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Labels: bug, module:ember-server

#4761 Avoid lock contention
  blaze-server/src/main/scala/org/http4s/server/blaze/Http1ServerStage.scala
Labels: enhancement, module:blaze-server

#4747 Move ConnectionManager to blaze-client
  blaze-client/src/main/scala/org/http4s/client/blaze/BasicManager.scala
  blaze-client/src/main/scala/org/http4s/client/blaze/ConnectionManager.scala
  blaze-client/src/main/scala/org/http4s/client/blaze/PoolManager.scala
  blaze-client/src/test/scala/org/http4s/client/blaze/PoolManagerSuite.scala
  client/src/main/scala/org/http4s/client/package.scala
Labels: breaking, module:blaze-client

#4762 Add AsyncHttp4sServlet test suite
  build.sbt
  servlet/src/test/scala/org/http4s/servlet/AsyncHttp4sServletSuite.scala
Labels: module:servlet, testing

#4785 Clean up some binary compatibility shims
  blaze-server/src/main/scala/org/http4s/server/blaze/Http1ServerStage.scala
  core/src/main/scala/org/http4s/Query.scala
  server/src/main/scala/org/http4s/server/middleware/AutoSlash.scala
Labels: breaking, module:core
