Repository http4s/http4s, pull requests merged in 2021-08, with the labels that each got.

#5015 Properly deprecate old literals
  core/src/main/scala-2/org/http4s/MediaTypePlaform.scala
  core/src/main/scala-2/org/http4s/UriPlatform.scala
  core/src/main/scala-3/org/http4s/MediaTypePlaform.scala
  core/src/main/scala/org/http4s/QValue.scala
Labels: module:core

#5013 Add DataTypes For Extracting Out The Non-Body Portion Of A Message
  core/src/main/scala/org/http4s/Message.scala
  core/src/main/scala/org/http4s/RequestPrelude.scala
  core/src/main/scala/org/http4s/ResponsePrelude.scala
  laws/src/main/scala/org/http4s/laws/discipline/ArbitraryInstances.scala
  tests/src/test/scala/org/http4s/RequestPreludeSuite.scala
  tests/src/test/scala/org/http4s/ResponsePreludeSuite.scala
Labels: enhancement, module:core

#5040 ember server maxConcurrency -> maxConnections
  build.sbt
  ember-server/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Labels: module:ember-server

#5041 Ember Client bugfix: incorrectly assumes keep-alive for http/1.0
  build.sbt
  ember-client/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-core/src/main/scala/org/http4s/ember/core/Util.scala
  ember-core/src/test/scala/org/http4s/ember/core/UtilSuite.scala
  ember-server/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/src/test/scala/org/http4s/ember/server/internal/ServerHelpersSuite.scala
Labels: module:ember-client

#5050 Update version status in website navbar
  website/jvm/src/hugo/content/contributing.md
  website/jvm/src/hugo/content/versions.md
  website/jvm/src/hugo/themes/http4s.org/layouts/partials/nav-docs.html
Labels: docs

#5043 Ember raise end of stream errors wherever appropriate
  build.sbt
  ember-core/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala
  ember-core/src/main/scala/org/http4s/ember/core/EmberException.scala
  ember-core/src/main/scala/org/http4s/ember/core/EmptyStreamError.scala
  ember-core/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/src/test/scala/org/http4s/ember/core/ParserSuite.scala
  ember-core/src/test/scala/org/http4s/ember/core/StreamingParserSuite.scala
  ember-server/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Labels: module:ember-core

#5042 Add model for `Access-Control-Request-Method` header, use typed headers in CORS middleware
  core/src/main/scala/org/http4s/headers/Access-Control-Request-Method.scala
  server/src/main/scala/org/http4s/server/middleware/CORS.scala
Labels: enhancement, module:core

#5063 DSL: matcher for handling all methods on a resource
  dsl/src/main/scala/org/http4s/dsl/Http4sDsl.scala
  dsl/src/main/scala/org/http4s/dsl/impl/Path.scala
  dsl/src/test/scala/org/http4s/dsl/PathInHttpRoutesSuite.scala
Labels: enhancement, module:dsl

#5084 Restore binary compatibility of ->>
  dsl/src/main/scala/org/http4s/dsl/Http4sDsl.scala
  dsl/src/main/scala/org/http4s/dsl/RequestDsl.scala
  dsl/src/main/scala/org/http4s/dsl/io.scala
  dsl/src/main/scala/org/http4s/dsl/request.scala
Labels: module:dsl

#4782 Default executionContext in blaze server (series/0.23)
  blaze-server/src/main/scala/org/http4s/blaze/server/BlazeServerBuilder.scala
Labels: breaking, module:blaze-server

#5118 Don't block on cancellation in Http1ServerStage
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
  blaze-server/src/test/scala/org/http4s/blaze/server/Http1ServerStageSpec.scala
Labels: bug, module:blaze-server

#5126 blaze-0.15.2
  project/Http4sPlugin.scala
Labels: bug, module:blaze-core

#5125 blaze-0.14.18
  project/Http4sPlugin.scala
Labels: bug, module:blaze-core

#5127 Ruefully mark another Tomcat test flaky
  tomcat-server/src/test/scala/org/http4s/tomcat/server/TomcatServerSuite.scala
Labels: CI, module:tomcat

#5071 weaken some context bounds
  build.sbt
  core/src/main/scala/org/http4s/HttpApp.scala
  core/src/main/scala/org/http4s/internal/Logger.scala
Labels: module:core
