Repository http4s/http4s, pull requests merged in 2022-05, with the labels that each got.

#6241 Server - ContextRouter - Simpler Code
  server/shared/src/main/scala/org/http4s/server/ContextRouter.scala
  server/shared/src/main/scala/org/http4s/server/Router.scala
Labels: module:server, series/0.23

#6036 Resolve broken filterPingPongs using WebSocketBuild2 with Ember
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Labels: module:ember-server, series/0.23

#6320 Take into account the `Entity` model in the `EntityLimiter`
  server/shared/src/main/scala/org/http4s/server/middleware/EntityLimiter.scala
  server/shared/src/test/scala/org/http4s/server/middleware/EntityLimiterSuite.scala
Labels: module:server

#6351 Fix test name
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
Labels: module:ember-server, series/0.23, behind-the-scenes

#6350 Use UTC for JS tests, remove tzdb test dep
  build.sbt
  project/Http4sPlugin.scala
Labels: series/0.23, behind-the-scenes

#6354 Delete servlet and jetty-server srcs
  jetty-server/src/main/scala/org/http4s/jetty/server/JettyBuilder.scala
  jetty-server/src/main/scala/org/http4s/jetty/server/JettyLifeCycle.scala
  jetty-server/src/main/scala/org/http4s/jetty/server/JettyThreadPools.scala
  jetty-server/src/main/scala/org/http4s/jetty/server/LazyThreadPool.scala
  jetty-server/src/main/scala/org/http4s/jetty/server/UndestroyableThreadPool.scala
  jetty-server/src/test/scala/org/http4s/jetty/server/JettyServerSuite.scala
  servlet/src/main/resources/reference.conf
  servlet/src/main/scala-2.12/org/http4s/servlet/syntax/ServletContextOpsCompanionCompat.scala
  servlet/src/main/scala-2.13/org/http4s/servlet/syntax/ServletContextOpsCompanionCompat.scala
  servlet/src/main/scala-3/org/http4s/servlet/syntax/ServletContextOpsCompanionCompat.scala
  servlet/src/main/scala/org/http4s/servlet/AbstractAsyncListener.scala
  servlet/src/main/scala/org/http4s/servlet/AsyncHttp4sServlet.scala
  servlet/src/main/scala/org/http4s/servlet/BlockingHttp4sServlet.scala
  servlet/src/main/scala/org/http4s/servlet/DefaultFilter.scala
  servlet/src/main/scala/org/http4s/servlet/Http4sServlet.scala
  servlet/src/main/scala/org/http4s/servlet/ServletApiVersion.scala
  servlet/src/main/scala/org/http4s/servlet/ServletContainer.scala
  servlet/src/main/scala/org/http4s/servlet/ServletIo.scala
  servlet/src/main/scala/org/http4s/servlet/package.scala
  servlet/src/main/scala/org/http4s/servlet/syntax/ServletContextSyntax.scala
  servlet/src/main/scala/org/http4s/servlet/syntax/package.scala
  servlet/src/test/scala/org/http4s/servlet/AsyncHttp4sServletSuite.scala
  servlet/src/test/scala/org/http4s/servlet/BlockingHttp4sServletSuite.scala
  servlet/src/test/scala/org/http4s/servlet/Http4sServletRequestStub.scala
  servlet/src/test/scala/org/http4s/servlet/RouterInServletSuite.scala
  servlet/src/test/scala/org/http4s/servlet/ServletContainerSuite.scala
  servlet/src/test/scala/org/http4s/servlet/ServletIoSuite.scala
  servlet/src/test/scala/org/http4s/servlet/TestEclipseServer.scala
Labels: module:servlet, module:jetty-server, series/0.23, behind-the-scenes

#6353 Bye-bye boopickle
  .github/workflows/ci.yml
  build.sbt
  project/Http4sPlugin.scala
Labels: series/0.23

#6359 Actually delete boopickle srcs
  boopickle/src/main/scala/org/http4s/booPickle/implicits.scala
  boopickle/src/main/scala/org/http4s/booPickle/instances/AllInstances.scala
  boopickle/src/main/scala/org/http4s/booPickle/instances/BooPickleInstances.scala
  boopickle/src/main/scala/org/http4s/booPickle/instances/package.scala
  boopickle/src/test/scala/org/http4s/booPickle/BoopickleSuite.scala
Labels: series/0.23, behind-the-scenes

#6362 Update log4cats-core, log4cats-noop, ... to 2.3.1 in series/0.23
  project/Http4sPlugin.scala
Labels: dependencies, series/0.23

#6361 Only create scalafix job for 2.13
  .github/workflows/ci.yml
  build.sbt
Labels: series/0.23, behind-the-scenes

#6291 Update scala3-library, ... to 3.1.2 in series/0.23
  .github/workflows/ci.yml
  project/Http4sPlugin.scala
Labels: dependencies, series/0.23

#6364 Update netty-buffer, netty-codec-http to 4.1.77.Final in series/0.23
  project/Http4sPlugin.scala
Labels: dependencies, series/0.23

#6162 Ember-Core: merge evalMap blocks in writeLoop
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Labels: module:ember-core, series/0.23

#6368 Follow links when accessing file attributes in `StaticFile`
  core/shared/src/main/scala/org/http4s/StaticFile.scala
  tests/shared/src/test/resources/lipsum-symlink.txt
  tests/shared/src/test/scala/org/http4s/StaticFileSuite.scala
Labels: module:core, series/0.23

#6161 Ember-Core microptimisation: avoid lists
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Labels: module:ember-core, series/0.23

#6372 Fix `Request#productElement` and `Response#productElement`
  core/shared/src/main/scala/org/http4s/Message.scala
Labels: module:core

#6369 Address the `Entity` model in `Arbitrary[Entity[*]]`
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
Labels: module:laws

#6283 Use `ce.std.Random` for `Multiparts`
  core/shared/src/main/scala/org/http4s/multipart/Multiparts.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartSuite.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartsSuite.scala
Labels: module:core, series/0.23

#6268 Publish internal scalafixes
  build.sbt
Labels: series/0.23, behind-the-scenes

#6375 Tweak `Entity` docs
  docs/docs/entity.md
Labels: docs

#6378 Merge `series/0.23` into `main`
  .github/workflows/ci.yml
  boopickle/src/main/scala/org/http4s/booPickle/implicits.scala
  boopickle/src/main/scala/org/http4s/booPickle/instances/AllInstances.scala
  boopickle/src/main/scala/org/http4s/booPickle/instances/BooPickleInstances.scala
  boopickle/src/main/scala/org/http4s/booPickle/instances/package.scala
  boopickle/src/test/scala/org/http4s/booPickle/BoopickleSuite.scala
  build.sbt
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
  core/shared/src/main/scala/org/http4s/StaticFile.scala
  core/shared/src/main/scala/org/http4s/multipart/Multiparts.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
  jetty-server/src/main/scala/org/http4s/jetty/server/JettyBuilder.scala
  jetty-server/src/main/scala/org/http4s/jetty/server/JettyLifeCycle.scala
  jetty-server/src/main/scala/org/http4s/jetty/server/JettyThreadPools.scala
  jetty-server/src/main/scala/org/http4s/jetty/server/LazyThreadPool.scala
  jetty-server/src/main/scala/org/http4s/jetty/server/UndestroyableThreadPool.scala
  jetty-server/src/test/scala/org/http4s/jetty/server/JettyServerSuite.scala
  project/Http4sPlugin.scala
  server/shared/src/main/scala/org/http4s/server/ContextRouter.scala
  servlet/src/main/resources/reference.conf
  servlet/src/main/scala-2.12/org/http4s/servlet/syntax/ServletContextOpsCompanionCompat.scala
  servlet/src/main/scala-2.13/org/http4s/servlet/syntax/ServletContextOpsCompanionCompat.scala
  servlet/src/main/scala-3/org/http4s/servlet/syntax/ServletContextOpsCompanionCompat.scala
  servlet/src/main/scala/org/http4s/servlet/AbstractAsyncListener.scala
  servlet/src/main/scala/org/http4s/servlet/AsyncHttp4sServlet.scala
  servlet/src/main/scala/org/http4s/servlet/BlockingHttp4sServlet.scala
  servlet/src/main/scala/org/http4s/servlet/DefaultFilter.scala
  servlet/src/main/scala/org/http4s/servlet/Http4sServlet.scala
  servlet/src/main/scala/org/http4s/servlet/ServletApiVersion.scala
  servlet/src/main/scala/org/http4s/servlet/ServletContainer.scala
  servlet/src/main/scala/org/http4s/servlet/ServletIo.scala
  servlet/src/main/scala/org/http4s/servlet/package.scala
  servlet/src/main/scala/org/http4s/servlet/syntax/ServletContextSyntax.scala
  servlet/src/main/scala/org/http4s/servlet/syntax/package.scala
  servlet/src/test/scala/org/http4s/servlet/AsyncHttp4sServletSuite.scala
  servlet/src/test/scala/org/http4s/servlet/BlockingHttp4sServletSuite.scala
  servlet/src/test/scala/org/http4s/servlet/Http4sServletRequestStub.scala
  servlet/src/test/scala/org/http4s/servlet/RouterInServletSuite.scala
  servlet/src/test/scala/org/http4s/servlet/ServletContainerSuite.scala
  servlet/src/test/scala/org/http4s/servlet/ServletIoSuite.scala
  servlet/src/test/scala/org/http4s/servlet/TestEclipseServer.scala
  tests/shared/src/test/resources/lipsum-symlink.txt
  tests/shared/src/test/scala/org/http4s/StaticFileSuite.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartSuite.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartsSuite.scala
Labels: module:servlet, module:core, module:ember-server, module:client, module:jetty-server, module:server, module:ember-core, behind-the-scenes

#6376 Drain response body in `DefaultClient#defaultOnError`
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeClient.scala
  client/shared/src/main/scala/org/http4s/client/DefaultClient.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClient.scala
Labels: module:blaze-client, module:ember-client, module:client, series/0.23

#6357 Bye-bye twirl
  .github/workflows/ci.yml
  build.sbt
  examples/blaze/src/main/scala/com/example/http4s/blaze/demo/server/Module.scala
  examples/blaze/src/main/scala/com/example/http4s/blaze/demo/server/endpoints/JsonXmlHttpEndpoint.scala
  play-json/src/main/scala/org/http4s/play/Parser.scala
  play-json/src/main/scala/org/http4s/play/PlayEntityCodec.scala
  play-json/src/main/scala/org/http4s/play/PlayEntityDecoder.scala
  play-json/src/main/scala/org/http4s/play/PlayEntityEncoder.scala
  play-json/src/main/scala/org/http4s/play/PlayInstances.scala
  play-json/src/main/scala/org/http4s/play/package.scala
  play-json/src/test/scala/org/http4s/play/PlaySuite.scala
  project/Http4sPlugin.scala
  project/ScaladocApiMapping.scala
  scala-xml/src/main/scala/scalaxml/ElemInstances.scala
  scala-xml/src/main/scala/scalaxml/package.scala
  scala-xml/src/test/scala/scalaxml/ScalaXmlSuite.scala
  scalatags/src/main/scala/org/http4s/scalatags/ScalatagsInstances.scala
  scalatags/src/main/scala/org/http4s/scalatags/package.scala
  scalatags/src/test/scala/org/http4s/scalatags/ScalatagsSuite.scala
  twirl/src/main/scala/org/http4s/twirl/TwirlInstances.scala
  twirl/src/main/scala/org/http4s/twirl/package.scala
  twirl/src/test/scala/org/http4s/twirl/TwirlSuite.scala
  twirl/src/test/twirl/test.scala.html
  twirl/src/test/twirl/test.scala.js
  twirl/src/test/twirl/test.scala.txt
  twirl/src/test/twirl/test.scala.xml
Labels: module:twirl, module:play-json, module:scalatags, series/0.23

#6352 Bye-bye scala-xml
  .github/workflows/ci.yml
  build.sbt
  examples/blaze/src/main/scala/com/example/http4s/blaze/demo/server/Module.scala
  examples/blaze/src/main/scala/com/example/http4s/blaze/demo/server/endpoints/JsonXmlHttpEndpoint.scala
  project/Http4sPlugin.scala
  scala-xml/src/main/scala/scalaxml/ElemInstances.scala
  scala-xml/src/main/scala/scalaxml/package.scala
  scala-xml/src/test/scala/scalaxml/ScalaXmlSuite.scala
Labels: module:scala-xml, series/0.23

#6355 Bye bye play-json
  .github/workflows/ci.yml
  build.sbt
  play-json/src/main/scala/org/http4s/play/Parser.scala
  play-json/src/main/scala/org/http4s/play/PlayEntityCodec.scala
  play-json/src/main/scala/org/http4s/play/PlayEntityDecoder.scala
  play-json/src/main/scala/org/http4s/play/PlayEntityEncoder.scala
  play-json/src/main/scala/org/http4s/play/PlayInstances.scala
  play-json/src/main/scala/org/http4s/play/package.scala
  play-json/src/test/scala/org/http4s/play/PlaySuite.scala
  project/Http4sPlugin.scala
  project/ScaladocApiMapping.scala
Labels: module:play-json, series/0.23

#6356 Bye bye scalatags
  .github/workflows/ci.yml
  build.sbt
  project/Http4sPlugin.scala
  scalatags/src/main/scala/org/http4s/scalatags/ScalatagsInstances.scala
  scalatags/src/main/scala/org/http4s/scalatags/package.scala
  scalatags/src/test/scala/org/http4s/scalatags/ScalatagsSuite.scala
Labels: module:scalatags, series/0.23

#6380 Parallelize some requests in `RetrySuite`
  client/shared/src/test/scala/org/http4s/client/middleware/RetrySuite.scala
Labels: module:client, series/0.23

#6365 httpRoutes and httpApp shortcuts for Throttle middleware
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
  server/shared/src/test/scala/org/http4s/server/middleware/ThrottleSuite.scala
Labels: module:server, series/0.23

#6379 Resubmit idempotent requests with only pure entities in `Retry` middleware
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
  client/shared/src/test/scala/org/http4s/client/middleware/RetrySuite.scala
  core/shared/src/main/scala/org/http4s/Message.scala
Labels: module:core, module:client

#6358 Bye-bye dropwizard, prometheus
  .github/workflows/ci.yml
  build.sbt
  docs/docs/client.md
  docs/docs/middleware.md
  dropwizard-metrics/src/main/scala/org/http4s/metrics/dropwizard/Dropwizard.scala
  dropwizard-metrics/src/main/scala/org/http4s/metrics/dropwizard/metrics.scala
  dropwizard-metrics/src/test/scala/org/http4s/metrics/dropwizard/DropwizardClientMetricsSuite.scala
  dropwizard-metrics/src/test/scala/org/http4s/metrics/dropwizard/DropwizardServerMetricsSuite.scala
  dropwizard-metrics/src/test/scala/org/http4s/metrics/dropwizard/util.scala
  examples/blaze/src/main/scala/com/example/http4s/blaze/BlazeMetricsExample.scala
  examples/src/main/twirl/com/example/http4s/form.scala.html
  examples/src/main/twirl/com/example/http4s/formEncoded.scala.html
  examples/src/main/twirl/com/example/http4s/index.scala.html
  examples/src/main/twirl/com/example/http4s/submissionForm.scala.html
  project/Http4sPlugin.scala
  prometheus-metrics/src/main/scala/org/http4s/metrics/prometheus/Prometheus.scala
  prometheus-metrics/src/main/scala/org/http4s/metrics/prometheus/PrometheusExportService.scala
  prometheus-metrics/src/test/scala/org/http4s/metrics/prometheus/PrometheusClientMetricsSuite.scala
  prometheus-metrics/src/test/scala/org/http4s/metrics/prometheus/PrometheusServerMetricsSuite.scala
  prometheus-metrics/src/test/scala/org/http4s/metrics/prometheus/util.scala
Labels: docs, module:dropwizard-metrics, module:prometheus-metrics, series/0.23

#6383 Upgrade jawn-fs2, keypool, log4cats, vault to last CE2 versions
  project/Http4sPlugin.scala
Labels: series/0.22

#6382 Update ip4s-core, ip4s-test-kit to 3.1.3 in series/0.23
  project/Http4sPlugin.scala
Labels: dependencies, series/0.23

#6385 Add On Air Entertainment to list of adopters.
  docs/adopters.md
Labels: docs, series/0.23

#6386 Promote using of `Headers#contains`
  blaze-client/src/main/scala/org/http4s/blaze/client/Http1Connection.scala
  client/shared/src/main/scala/org/http4s/client/Client.scala
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
  ember-client/shared/src/test/scala/org/http4s/ember/client/internal/ClientHelpersSuite.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
  laws/src/main/scala/org/http4s/laws/EntityEncoderLaws.scala
  server/jvm/src/main/scala/org/http4s/server/middleware/GZip.scala
  server/jvm/src/test/scala/org/http4s/server/middleware/GZipSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/HSTSSuite.scala
  tests/shared/src/test/scala/org/http4s/ResponderSpec.scala
Labels: module:blaze-client, module:ember-client, module:client, module:server, module:ember-core, module:laws, series/0.23

#6391 Use `GenTemporal` for proceeding with timeouts
  blaze-server/src/main/scala/org/http4s/blaze/server/Http2NodeStage.scala
  server/shared/src/test/scala/org/http4s/server/middleware/TimeoutSuite.scala
Labels: module:server, module:blaze-server, series/0.23

#6390 JS refactoring in preparation for client backend schism
  .github/workflows/ci.yml
  build.sbt
  client/js/src/main/scala/org/http4s/client/NodeJSClientBuilder.scala
  client/js/src/test/scala/org/http4s/client/NodeJSClientSuite.scala
  client/js/src/test/scala/org/http4s/client/scaffold/ServerScaffold.scala
  core/js/src/main/scala/org/http4s/nodejs/ClientRequest.scala
  core/js/src/main/scala/org/http4s/nodejs/IncomingMessage.scala
  core/js/src/main/scala/org/http4s/nodejs/ServerResponse.scala
  node-serverless/src/main/scala/org/http4s/node/serverless/IncomingMessage.scala
  node-serverless/src/main/scala/org/http4s/node/serverless/ServerlessApp.scala
Labels: module:core, module:client, series/0.23

#6392 Update to Cats Effect 2.5.5
  project/Http4sPlugin.scala
Labels: dependencies, series/0.22

#6393 Use `parTraverse` in tests
  server/shared/src/test/scala/org/http4s/server/middleware/HSTSSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/HttpsRedirectSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/VirtualHostSuite.scala
  server/shared/src/test/scala/org/http4s/server/staticcontent/FileServiceSuite.scala
  tests/shared/src/test/scala/org/http4s/StaticFileSuite.scala
Labels: module:server, series/0.23

#6399 Update locales-minimal-en_us-db to 1.4.0 in series/0.23
  project/Http4sPlugin.scala
Labels: dependencies, series/0.23

#6398 Update circe-core, circe-generic, ... to 0.14.2 in series/0.23
  project/build.sbt
Labels: dependencies, series/0.23

#6401 Update to circe 0.14.2
  build.sbt
  circe/src/test/scala/org/http4s/circe/CirceSensitiveDataEntityDecoderSpec.scala
  circe/src/test/scala/org/http4s/circe/CirceSuite.scala
  project/Http4sPlugin.scala
Labels: module:circe, series/0.23

#6336 Sketch out the 0.22.13 release note
  docs/changelog.md
Labels: docs, series/0.22

#6396 Bye-bye async, okhttp, jetty clients
  .github/workflows/ci.yml
  async-http-client/src/main/scala/org/http4s/asynchttpclient/AsyncHttpClient.scala
  async-http-client/src/main/scala/org/http4s/asynchttpclient/AsyncHttpClientStats.scala
  async-http-client/src/main/scala/org/http4s/asynchttpclient/EmptyBodyGenerator.scala
  async-http-client/src/main/scala/org/http4s/asynchttpclient/NoOpCookieStore.scala
  async-http-client/src/test/scala/org/http4s/asynchttpclient/AsyncHttpClientSuite.scala
  build.sbt
  examples/jetty/src/main/scala/com/example/http4s/jetty/JettyExample.scala
  examples/jetty/src/main/scala/com/example/http4s/jetty/JettySslExample.scala
  examples/jetty/src/main/scala/com/example/http4s/jetty/NoneShallPass.scala
  jetty-client/src/main/scala/org/http4s/jetty/client/JettyClient.scala
  jetty-client/src/main/scala/org/http4s/jetty/client/ResponseListener.scala
  jetty-client/src/main/scala/org/http4s/jetty/client/StreamRequestContentProvider.scala
  jetty-client/src/test/scala/org/http4s/jetty/client/JettyClientSuite.scala
  okhttp-client/src/main/scala/org/http4s/okhttp/client/OkHttpBuilder.scala
  okhttp-client/src/test/scala/org/http4s/okhttp/client/OkHttpClientSuite.scala
  project/Http4sPlugin.scala
  project/ScaladocApiMapping.scala
Labels: module:async-http-client, module:okhttp-client, module:jetty-client, series/0.23

#6394 Publish `http4s-client-testkit` module
  .github/workflows/ci.yml
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientBase.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientConnectionReuseSuite.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientSuite.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeHttp1ClientSuite.scala
  build.sbt
  client-testkit/js/src/main/scala/org/http4s/client/testkit/scaffold/ServerScaffold.scala
  client-testkit/js/src/test/scala/org/http4s/client/NodeJSClientSuite.scala
  client-testkit/jvm/src/main/resources/server.jks
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/HandlersToNettyAdapter.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/NettyTestServer.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/RoutesToNettyAdapter.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/ServerScaffold.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/package.scala
  client-testkit/jvm/src/test/scala/org/http4s/client/JavaNetClientSuite.scala
  client-testkit/shared/src/main/scala/org/http4s/client/testkit/ClientRouteTestBattery.scala
  client-testkit/shared/src/main/scala/org/http4s/client/testkit/testroutes/GetRoutes.scala
  ember-client/shared/src/test/scala/org/http4s/ember/client/EmberClientSuite.scala
Labels: module:blaze-client, module:ember-client, module:client, series/0.23, behind-the-scenes

#6402 Delete hard-coded Scaladoc url
  build.sbt
Labels: series/0.22, behind-the-scenes

#6404 Make Node.js interop APIs private
  core/js/src/main/scala/org/http4s/nodejs/ClientRequest.scala
  core/js/src/main/scala/org/http4s/nodejs/IncomingMessage.scala
  core/js/src/main/scala/org/http4s/nodejs/ServerResponse.scala
Labels: module:core, series/0.23, behind-the-scenes

#6406 Update cats-effect, cats-effect-laws, ... to 3.3.12 in series/0.23
  project/Http4sPlugin.scala
Labels: dependencies, series/0.23

#6407 Highlight the uncancelable behavior in `Timeout` middleware scaladoc
  server/shared/src/main/scala/org/http4s/server/middleware/Timeout.scala
  server/shared/src/test/scala/org/http4s/server/middleware/TimeoutSuite.scala
Labels: module:server, series/0.23

#6409 Tweak `Timeout` middleware scaladoc
  server/shared/src/main/scala/org/http4s/server/middleware/Timeout.scala
Labels: module:server, series/0.23

#6163 Ember Core: write readLoop without Streams.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Labels: module:ember-core, series/0.23

#6403 Release v0.23.12
  docs/changelog.md
Labels: docs, series/0.23

#6414 Update http4s-circe, http4s-ember-client to 0.23.12 in series/0.23
  project/build.sbt
Labels: dependencies, series/0.23

#6413 Add `EntityDecoder[EventStream]`
  core/shared/src/main/scala/org/http4s/EntityDecoder.scala
  tests/shared/src/test/scala/org/http4s/ServerSentEventSpec.scala
Labels: module:core, series/0.23

#6417 Release v1.0.0-M33
  docs/changelog.md
Labels: docs

#6422 Ember-Core - H2Client - Rewrite without alternative.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Labels: module:ember-core, series/0.23
