Repository http4s/http4s, pull requests merged in 2022-06, with the labels that each got.

#6430 Merge 0.23 -> main
  core/shared/src/main/scala/org/http4s/EntityDecoder.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  project/plugins.sbt
  tests/shared/src/test/scala/org/http4s/ServerSentEventSpec.scala
Labels: module:core, module:ember-core, behind-the-scenes

#4027 Enable Scaladoc Linking Warnings
  build.sbt
  circe/src/main/scala/org/http4s/circe/CirceSensitiveDataEntityDecoder.scala
  client/shared/src/main/scala/org/http4s/client/Client.scala
  client/shared/src/main/scala/org/http4s/client/DefaultClient.scala
  core/shared/src/main/scala/org/http4s/EntityEncoder.scala
  core/shared/src/main/scala/org/http4s/MediaType.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/Uri.scala
  core/shared/src/main/scala/org/http4s/headers/`Access-Control-Max-Age`.scala
  core/shared/src/main/scala/org/http4s/util/Renderable.scala
  project/Http4sPlugin.scala
  project/ScaladocApiMapping.scala
  server/shared/src/main/scala/org/http4s/server/middleware/BodyCache.scala
  server/shared/src/main/scala/org/http4s/server/middleware/CORS.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Timeout.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/shared/src/main/scala/org/http4s/server/package.scala
Labels: docs, module:core, module:client, module:server, module:circe, series/0.23, behind-the-scenes

#6431 Update to Vault 3.2.1
  project/Http4sPlugin.scala
Labels: module:core, dependencies, series/0.23

#6432 Add a Scala Steward workflow
  .github/workflows/steward.yml
Labels: series/0.23, behind-the-scenes

#6438 Delete steward.yml
  .github/workflows/steward.yml
Labels: series/0.23

#6439 Update .mergify.yml
  .mergify.yml
Labels: series/0.23

#6443 vault, scala-java-time updates via 0.23
  .scala-steward.conf
Labels: behind-the-scenes

#6437 Workflow to update flake weekly
  .github/workflows/update-flake.yml
Labels: series/0.23

#6323 Address the entity model in the server's `RequestLogger`
  server/shared/src/main/scala/org/http4s/server/middleware/RequestLogger.scala
Labels: module:server

#6319 Take into account the `Entity` model in the `ResponseLogger`
  client/shared/src/main/scala/org/http4s/client/middleware/ResponseLogger.scala
Labels: module:client

#6444 Encoding of response with empty body
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/EncoderSuite.scala
Labels: module:ember-core, series/0.23

#6246 Server Metrics Middleware
  build.sbt
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
Labels: module:server, series/0.23, behind-the-scenes

#6424 Ember-Core H2Server: replace pull with a recursive function
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Labels: module:ember-core, series/0.23

#6267 Throttle Server middleware: use recursion
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
Labels: module:server, series/0.23, behind-the-scenes

#6448 Fix steward name in mergify config
  .mergify.yml
Labels: series/0.23, behind-the-scenes

#6449 MultipartParser: use `Pull.done` instead of Pull.pure.
  core/shared/src/main/scala/org/http4s/multipart/MultipartParser.scala
Labels: module:core, series/0.23, behind-the-scenes

#6425 Ember-Core H2Server: extract method to send initial request
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Labels: module:ember-core, series/0.23

#6426 Ember-Client: no Alternative
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
Labels: module:ember-client, series/0.23

#6450 Added note on possible circe import error in docs
  docs/docs/json.md
Labels: docs, series/0.23

#6371 Fix regression of `Router#define`
  server/shared/src/main/scala/org/http4s/server/Router.scala
  server/shared/src/test/scala/org/http4s/server/RouterSuite.scala
Labels: module:server

#6451 Backport of `Router#define` test
  server/shared/src/test/scala/org/http4s/server/RouterSuite.scala
Labels: module:server, series/0.23

#6454 Add Wide Angle Analytics in adopters
  docs/adopters.md
Labels: docs, module:core, module:ember-client, module:client, module:server, module:ember-core, module:circe, module:laws, series/0.23

#6457 Run coverage job for PRs, but don't upload results
  .github/workflows/ci.yml
  build.sbt
Labels: series/0.23, behind-the-scenes

#6459 Compose multiple subsequent `Message#putHeaders` calls
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Caching.scala
Labels: module:ember-client, module:server, series/0.23

#6464 Point upgrade docs at scalafix published in series/0.22
  docs/docs/upgrading.md
Labels: docs, series/0.22

#6465 series/0.22 -> series/0.23
  docs/docs/upgrading.md
Labels: docs, series/0.23, behind-the-scenes

#6472 Ignore cats updates on main
  .scala-steward.conf
Labels: behind-the-scenes

#6485 Add filename property to Content-Disposition
  core/src/main/scala/org/http4s/headers/Content-Disposition.scala
  tests/src/test/scala/org/http4s/parser/ContentDispositionHeaderSuite.scala
Labels: module:core, series/0.22

#6484 Release v0.22.14
  docs/changelog.md
Labels: docs, series/0.22

#6487 Merge 0.22.14 -> 0.23
  core/shared/src/main/scala/org/http4s/headers/Content-Disposition.scala
  docs/changelog.md
  tests/shared/src/test/scala/org/http4s/parser/ContentDispositionHeaderSuite.scala
Labels: docs, module:core, series/0.23

#6486 Add Ordering for MediaRange
  core/shared/src/main/scala/org/http4s/MediaType.scala
Labels: module:core, series/0.23

#6488 Add sample curl command to quickstart.md
  docs/docs/quickstart.md
Labels: docs, series/0.23

#6490 Relax `server.middleware.Caching` constraints
  server/shared/src/main/scala/org/http4s/server/middleware/Caching.scala
Labels: module:server

#6489 Add `Host#fromIp4sHost` method
  core/shared/src/main/scala/org/http4s/Uri.scala
Labels: module:core, series/0.23

#6481 Make Uri.Path.merge compliant
  core/shared/src/main/scala/org/http4s/Uri.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/shared/src/test/scala/org/http4s/PathSuite.scala
Labels: module:core, module:laws, series/0.23

#6492 Release v0.23.13
  docs/changelog.md
Labels: docs, series/0.23

#6494 Release note tweaks for v0.23.13
  docs/changelog.md
Labels: docs, series/0.23

#6497 Set LoggingHandler in NettyTestServer to the default DEBUG level
  client/src/test/scala/org/http4s/client/scaffold/NettyTestServer.scala
Labels: module:client, series/0.22

#6388 Ember-Server: WebSocketHelper rewrite / optimisation
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Labels: module:ember-server, series/0.23

#6501 fix typo in `Throttle` middleware `httpAapp->httpApp`
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
Labels: module:server, series/0.23
