Repository http4s/http4s, pull requests merged in 2022-11, with the labels that each got.

#6781 `Shutdown#trackConnection` should never be empty
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/Shutdown.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Labels: module:ember-server, series/0.23

#6784 Remove unnecessary native settings
  build.sbt
Labels: series/0.23, behind-the-scenes

#6785 Fix some typos
  core/shared/src/main/scala/org/http4s/Header.scala
  core/shared/src/main/scala/org/http4s/internal/package.scala
  docs/docs/deployment.md
  docs/docs/error-handling.md
  server/shared/src/main/scala/org/http4s/server/Router.scala
  server/shared/src/main/scala/org/http4s/server/middleware/BracketRequestResponse.scala
  server/shared/src/main/scala/org/http4s/server/middleware/UrlFormLifter.scala
  server/shared/src/test/scala/org/http4s/server/middleware/authentication/AuthMiddlewareSuite.scala
  tests/shared/src/test/scala/org/http4s/CharsetRangeSuite.scala
  tests/shared/src/test/scala/org/http4s/headers/AcceptPatchSpec.scala
Labels: docs, module:core, module:server, series/0.23

#6776 More efficient string building from `Headers`
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
  core/shared/src/main/scala/org/http4s/Header.scala
  core/shared/src/main/scala/org/http4s/Headers.scala
  core/shared/src/main/scala/org/http4s/internal/Logger.scala
  tests/shared/src/test/scala/org/http4s/HeadersSpec.scala
Labels: module:core, module:client, series/0.23

#6786 Add withAdditionalSocketOptions to EmberServerBuilder
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Labels: module:ember-server, series/0.23

#6787 Merge `series/0.23` into `main`
  .scalafmt.conf
  build.sbt
  circe/src/main/scala/org/http4s/circe/DecodingFailures.scala
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
  client/shared/src/main/scala/org/http4s/client/oauth1/oauth1.scala
  client/shared/src/test/scala/org/http4s/client/oauth1/OAuthSuite.scala
  core/shared/src/main/scala/org/http4s/Header.scala
  core/shared/src/main/scala/org/http4s/Headers.scala
  core/shared/src/main/scala/org/http4s/MessageFailure.scala
  core/shared/src/main/scala/org/http4s/RequestCookieJar.scala
  core/shared/src/main/scala/org/http4s/internal/CurlConverter.scala
  core/shared/src/main/scala/org/http4s/internal/Logger.scala
  core/shared/src/main/scala/org/http4s/internal/package.scala
  core/shared/src/main/scala/org/http4s/util/Renderable.scala
  docs/docs/deployment.md
  docs/docs/error-handling.md
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/EncoderSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/Shutdown.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
  flake.lock
  project/build.properties
  project/plugins.sbt
  server/shared/src/main/scala/org/http4s/server/Router.scala
  server/shared/src/main/scala/org/http4s/server/middleware/BracketRequestResponse.scala
  server/shared/src/main/scala/org/http4s/server/middleware/UrlFormLifter.scala
  server/shared/src/test/scala/org/http4s/server/middleware/authentication/AuthMiddlewareSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/authentication/AuthenticationSuite.scala
  tests/shared/src/test/scala/org/http4s/CharsetRangeSuite.scala
  tests/shared/src/test/scala/org/http4s/HeadersSpec.scala
  tests/shared/src/test/scala/org/http4s/headers/AcceptPatchSpec.scala
Labels: docs, module:core, module:ember-server, module:client, module:server, module:ember-core, module:circe, behind-the-scenes

#6788 Fix the wrong `Http4sClientDsl` location
  client/shared/src/main/scala/org/http4s/client/dsl/Http4sClientDsl.scala
Labels: module:client, series/0.23, behind-the-scenes

#6751 Scala specific nowarnX annotations
  project/Http4sPlugin.scala
  server/shared/src/main/scala/org/http4s/server/middleware/CORS.scala
Labels: module:core, module:server, series/0.23, behind-the-scenes

#6790 Use modeled headers in CORS middleware
  core/shared/src/main/scala/org/http4s/headers/Access-Control-Allow-Methods.scala
  core/shared/src/main/scala/org/http4s/headers/Access-Control-Max-Age.scala
  core/shared/src/main/scala/org/http4s/headers/Idempotency-Key.scala
  server/shared/src/main/scala/org/http4s/server/middleware/CORS.scala
  server/shared/src/test/scala/org/http4s/server/middleware/CORSSuite.scala
Labels: module:core, module:server, series/0.23

#6801 Revamp the integrations page
  docs/docs/integrations.md
  docs/styles/styles.css
Labels: docs, series/0.23

#6807 Rm redundant comments in `Status`
  core/shared/src/main/scala/org/http4s/Status.scala
Labels: module:core, series/0.23, behind-the-scenes

#6814 Ignore munit updates on main
  .scala-steward.conf
Labels: behind-the-scenes

#6802 Cleanup quickstart and contributing pages
  docs/contributing.md
  docs/docs/quickstart.md
Labels: docs

#6818 Fix some deprecation warning messages
  core/shared/src/main/scala/org/http4s/HttpDate.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Labels: module:core, module:ember-server, series/0.23, behind-the-scenes

#6819 Relax constraints for client gzip middleware
  client/shared/src/main/scala/org/http4s/client/middleware/GZip.scala
Labels: module:client, series/0.23

#6821 Close Twitter
  docs/getting-help.md
  docs/landing.template.html
Labels: docs

#6826 Fixes resourceServiceBuilder to work on Windows
  server/shared/src/main/scala/org/http4s/server/staticcontent/ResourceService.scala
Labels: module:server, series/0.23

#6828 Use Node.js 18 in devshell/CI
  client/js/src/main/scala/org/http4s/client/NodeJSClientBuilder.scala
  flake.nix
Labels: module:client, series/0.23

#6835 Reduce JS size
  build.sbt
  core/shared/src/main/scala/org/http4s/util/Renderable.scala
Labels: module:core, module:circe, series/0.23

#6825 Fix resource leaks
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/StreamForking.scala
Labels: module:ember-server, series/0.23

#6836 Delete flake workflow
  .github/workflows/update-flake.yml
Labels: series/0.23, behind-the-scenes
