Repository http4s/http4s, pull requests merged in 2022-08, with the labels that each got.

#6524 Smite `Seq` in `Message#multiParams`, `Uri#multiParams`, `Query#multiParams`
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/Query.scala
  core/shared/src/main/scala/org/http4s/Uri.scala
  tests/shared/src/test/scala/org/http4s/UriSpec.scala
  tests/shared/src/test/scala/org/http4s/parser/UriParserSuite.scala
Labels: module:core

#6589 Fix typo: Add missing comma
  docs/docs/dsl.md
Labels: docs, series/0.23

#6575 WebSocketBuilder2: make constructor public
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  server/shared/src/main/scala/org/http4s/server/websocket/WebSocketBuilder2.scala
  server/shared/src/test/scala/org/http4s/server/websocket/WebSocketBuilderSuite.scala
Labels: module:ember-server, module:server, series/0.23

#6541 Prettify error messages when parsing
  core/shared/src/main/scala/org/http4s/MessageFailure.scala
  core/shared/src/main/scala/org/http4s/headers/Forwarded.scala
  tests/shared/src/test/scala/org/http4s/UriSpec.scala
Labels: module:core, series/0.23

#6593 Ember H2 - Do not respond to WindowUpdate with Ping
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberServerH2Example.scala
Labels: module:ember-core, series/0.23

#6594 Always respond to client close frame with 1000 "normal closure"
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Labels: module:ember-server, series/0.23

#6604 Remove references to Scala 2.12 in docs
  README.md
  docs/docs/client.md
  docs/docs/quickstart.md
  docs/docs/service.md
Labels: docs

#6605 Tweak client page
  docs/docs/client.md
Labels: docs, series/0.23

#6607 Fix 1.0 version table compatibility with 2.12 & 2.13
  docs/versions.md
Labels: docs

#6606 Cross-compile `GZip` middlewares for JS
  client/shared/src/main/scala/org/http4s/client/middleware/GZip.scala
  client/shared/src/test/scala/org/http4s/client/middleware/GZipSuite.scala
  core/shared/src/main/scala/org/http4s/MediaType.scala
  server/js/src/main/scala/org/http4s/server/middleware/GZipPlatform.scala
  server/jvm/src/main/scala/org/http4s/server/middleware/GZipPlatform.scala
  server/shared/src/main/scala/org/http4s/server/middleware/GZip.scala
  server/shared/src/test/scala/org/http4s/server/middleware/GZipSuite.scala
Labels: module:core, module:client, module:server, series/0.23

#6608 Tweak the http4s.g8 example on the quick start page
  docs/docs/quickstart.md
Labels: docs

#6587 Parse all WebSocket frames in a `Chunk` in ember-server
  build.sbt
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Labels: module:ember-server, series/0.23

#6535 Fix request logger to log in the case of no request body, when `logBody=true`
  client/shared/src/main/scala/org/http4s/client/middleware/RequestLogger.scala
  client/shared/src/test/scala/org/http4s/client/middleware/LoggerSuite.scala
Labels: module:client, series/0.23

#6555 Rewrite hashcode computation for `Uri.Path`
  core/shared/src/main/scala/org/http4s/Uri.scala
  tests/shared/src/test/scala/org/http4s/PathSuite.scala
Labels: module:core, series/0.23

#6491 Spring cleaning: Remove unneeded temporal constraints and make some cosmetic changes
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Caching.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Date.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Timeout.scala
Labels: module:server, module:ember-core

#6600 Ember H2 Connection Header Compliance
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/PseudoHeaders.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/PsuedoHeadersSuite.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberServerH2Example.scala
Labels: module:ember-core, series/0.23

#6612 Merge `series/0.23` into `main`
  .scalafmt.conf
  client/shared/src/main/scala/org/http4s/client/middleware/GZip.scala
  client/shared/src/main/scala/org/http4s/client/middleware/RequestLogger.scala
  client/shared/src/test/scala/org/http4s/client/middleware/GZipSuite.scala
  client/shared/src/test/scala/org/http4s/client/middleware/LoggerSuite.scala
  core/shared/src/main/scala/org/http4s/MediaType.scala
  core/shared/src/main/scala/org/http4s/MessageFailure.scala
  core/shared/src/main/scala/org/http4s/headers/Forwarded.scala
  docs/docs/dsl.md
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-core/js/src/main/scala/org/http4s/ember/core/UtilPlatform.scala
  ember-core/jvm/src/main/scala/org/http4s/ember/core/UtilPlatform.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Util.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberServerH2Example.scala
  flake.lock
  project/Http4sPlugin.scala
  project/build.sbt
  project/plugins.sbt
  server/shared/src/main/scala/org/http4s/server/middleware/CSRF.scala
  server/shared/src/main/scala/org/http4s/server/middleware/GZip.scala
  server/shared/src/main/scala/org/http4s/server/websocket/WebSocketBuilder.scala
  server/shared/src/test/scala/org/http4s/server/middleware/CSRFSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/GZipSuite.scala
  server/shared/src/test/scala/org/http4s/server/websocket/WebSocketBuilderSuite.scala
  tests/shared/src/test/scala/org/http4s/UriSpec.scala
Labels: docs, module:core, module:ember-client, module:ember-server, module:client, module:server, module:ember-core, behind-the-scenes

#6578 Don't backtrack in request/response prelude parsing
  build.sbt
  ember-core/shared/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/ParserSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/StreamingParserSuite.scala
Labels: module:ember-core, series/0.23

#6620 Update quickstart guide to include Scala 3 branch
  docs/docs/quickstart.md
Labels: docs, series/0.23

#6613 Ember Core - H2Server - Split for comprehension
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Labels: module:ember-core, series/0.23, behind-the-scenes

#6628 Simplify type signature for internal logger
  client/shared/src/main/scala/org/http4s/client/middleware/Logger.scala
  client/shared/src/main/scala/org/http4s/client/middleware/RequestLogger.scala
  client/shared/src/main/scala/org/http4s/client/middleware/ResponseLogger.scala
  core/shared/src/main/scala/org/http4s/internal/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/RequestLogger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
Labels: module:core, module:client, module:server, series/0.23

#6622 add SourceMap header
  core/shared/src/main/scala/org/http4s/headers/SourceMap.scala
  tests/shared/src/test/scala/org/http4s/headers/SourceMapSuite.scala
Labels: module:core, series/0.23

#6630 Release v0.23.15
  docs/changelog.md
Labels: docs, series/0.23

#6634 Release v1.0.0-M36
  docs/changelog.md
Labels: docs, behind-the-scenes

#6643 Ignore case-insensitive updates on main
  .scala-steward.conf
Labels: behind-the-scenes

#6644 Pin slf4j to 1.x and cleanup
  .scala-steward.conf
Labels: series/0.23, behind-the-scenes

#6647 Pin `logback-classic` to the `1.2.x` series
  .scala-steward.conf
Labels: series/0.23

#6598 Add doc for mixing left- and right-associative
  docs/docs/dsl.md
Labels: docs
