Repository http4s/http4s, pull requests merged in 2022-07, with the labels that each got.

#6506 Create `.git-blame-ignore-revs`
  .git-blame-ignore-revs
Labels: series/0.23, behind-the-scenes

#6498 Custom branch for update flake action
  .github/workflows/update-flake.yml
Labels: series/0.23

#6508 Remove `CollectionCompat`
  core/shared/src/main/scala-3/org/http4s/internal/CollectionCompat.scala
Labels: module:core

#6507 Smite `Seq` in tests
  client/shared/src/main/scala/org/http4s/client/oauth1/oauth1.scala
  client/shared/src/test/scala/org/http4s/client/oauth1/OAuthSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/ChunkAggregatorSuite.scala
  server/shared/src/test/scala/org/http4s/server/staticcontent/FileServiceSuite.scala
  tests/shared/src/test/scala/org/http4s/UriSpec.scala
  tests/shared/src/test/scala/org/http4s/UrlFormSpec.scala
  tests/shared/src/test/scala/org/http4s/headers/ForwardedSuite.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartParserSuite.scala
  tests/shared/src/test/scala/org/http4s/parser/AcceptHeaderSpec.scala
  tests/shared/src/test/scala/org/http4s/parser/AuthorizationHeaderSuite.scala
  tests/shared/src/test/scala/org/http4s/parser/ForwardedHeaderSpec.scala
  tests/shared/src/test/scala/org/http4s/parser/RangeParserSuite.scala
  tests/shared/src/test/scala/org/http4s/parser/SimpleHeadersSpec.scala
  tests/shared/src/test/scala/org/http4s/parser/UriParserSuite.scala
Labels: testing, module:client, module:server, series/0.23, behind-the-scenes

#6511 Don't use `Stream` in JSON client example
  docs/docs/json.md
Labels: docs, series/0.23

#6512 Release v1.0.0-M34
  docs/changelog.md
Labels: docs

#6518 Ember-Core: reimplement "combineArrays"
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
Labels: module:ember-core, series/0.23

#6531 Update to update-flake-lock v10
  .github/workflows/update-flake.yml
Labels: series/0.23

#6536 Add Hireproof to adopters
  docs/adopters.md
Labels: docs, series/0.23

#6548 Remove references to `HttpService` in `testing.md`
  docs/docs/testing.md
Labels: docs, series/0.23

#6553 H2 Settings Acknowledgments do not need to block progress
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Labels: module:ember-core, series/0.23

#6551 0.23 -> main
  .git-blame-ignore-revs
  .github/workflows/ci.yml
  .github/workflows/update-flake.yml
  client/shared/src/main/scala/org/http4s/client/oauth1/oauth1.scala
  client/shared/src/test/scala/org/http4s/client/oauth1/OAuthSuite.scala
  docs/adopters.md
  docs/docs/json.md
  docs/docs/testing.md
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
  flake.lock
  project/Http4sPlugin.scala
  project/build.properties
  project/plugins.sbt
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
  server/shared/src/test/scala/org/http4s/server/middleware/ChunkAggregatorSuite.scala
  server/shared/src/test/scala/org/http4s/server/staticcontent/FileServiceSuite.scala
  tests/shared/src/test/scala/org/http4s/UriSpec.scala
  tests/shared/src/test/scala/org/http4s/UrlFormSpec.scala
  tests/shared/src/test/scala/org/http4s/headers/ForwardedSuite.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartParserSuite.scala
  tests/shared/src/test/scala/org/http4s/parser/AcceptHeaderSpec.scala
  tests/shared/src/test/scala/org/http4s/parser/AuthorizationHeaderSuite.scala
  tests/shared/src/test/scala/org/http4s/parser/ForwardedHeaderSpec.scala
  tests/shared/src/test/scala/org/http4s/parser/RangeParserSuite.scala
  tests/shared/src/test/scala/org/http4s/parser/SimpleHeadersSpec.scala
  tests/shared/src/test/scala/org/http4s/parser/UriParserSuite.scala
Labels: docs, module:ember-server, module:client, module:server, module:ember-core, behind-the-scenes

#6540 Remove `BackendBuilder#allocate`
  core/shared/src/main/scala/org/http4s/internal/BackendBuilder.scala
Labels: breaking, module:core

#6556 Deprecate `BackendBuilder#allocate`
  core/shared/src/main/scala/org/http4s/internal/BackendBuilder.scala
Labels: module:core, series/0.23

#6560 Fix Blaze Doc for Websocket Server
  docs/docs/integrations.md
Labels: docs, series/0.23

#6557 Don't instantiate redundant `List` in `Path#addSegment`
  core/shared/src/main/scala/org/http4s/Uri.scala
Labels: module:core, series/0.23

#6554 Freshen up `Middleware` docs
  docs/docs/middleware.md
Labels: docs, series/0.23

#6563 0.23 -> main
  core/shared/src/main/scala/org/http4s/Uri.scala
  docs/docs/integrations.md
  docs/docs/middleware.md
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Labels: docs, module:core, module:ember-core

#6564 Don't override `endsWithSlash` when adding an empty `Path` segment
  core/shared/src/main/scala/org/http4s/Uri.scala
  tests/shared/src/test/scala/org/http4s/UriSpec.scala
Labels: module:core, series/0.23

#6565 0.23 -> main
  core/shared/src/main/scala/org/http4s/Uri.scala
  tests/shared/src/test/scala/org/http4s/UriSpec.scala
Labels: module:core, behind-the-scenes

#6566 Update to fs2 3.2.11
  project/Http4sPlugin.scala
Labels: series/0.23

#6567 0.23 -> main
  project/Http4sPlugin.scala
Labels: behind-the-scenes

#6568 Release v0.23.14
  docs/changelog.md
Labels: docs, series/0.23

#6569 Release v1.0.0-M35
  docs/changelog.md
Labels: docs

#6579 Set `serverNames` TLS parameter for ember h2
  build.sbt
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-core/js/src/main/scala/org/http4s/ember/core/UtilPlatform.scala
  ember-core/jvm/src/main/scala/org/http4s/ember/core/UtilPlatform.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Util.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Labels: module:ember-client, module:ember-core, series/0.23

#6528 Use `scodec.bits.ByteVector` for `Entity.Strict`
  client/shared/src/test/scala/org/http4s/client/middleware/RetrySuite.scala
  core/shared/src/main/scala/org/http4s/Entity.scala
  core/shared/src/main/scala/org/http4s/EntityDecoder.scala
  core/shared/src/main/scala/org/http4s/EntityEncoder.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/multipart/Part.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberClientSimpleExample.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  server/shared/src/main/scala/org/http4s/server/staticcontent/MemoryCache.scala
  server/shared/src/test/scala/org/http4s/server/middleware/EntityLimiterSuite.scala
  tests/shared/src/test/scala/org/http4s/EntityDecoderSuite.scala
  tests/shared/src/test/scala/org/http4s/EntityEncoderSpec.scala
  tests/shared/src/test/scala/org/http4s/MessageSuite.scala
Labels: RFC, module:core, module:ember-server, module:client, module:server, module:ember-core, module:laws
