Repository http4s/http4s, pull requests merged in 2022-10, with the labels that each got.

#6705 Using `mdoc:silent` more liberally throughout docs
  docs/docs/auth.md
  docs/docs/client.md
  docs/docs/cors.md
  docs/docs/csrf.md
  docs/docs/dsl.md
  docs/docs/entity.md
  docs/docs/gzip.md
  docs/docs/hsts.md
  docs/docs/json.md
  docs/docs/methods.md
  docs/docs/middleware.md
  docs/docs/service.md
  docs/docs/static.md
  docs/docs/streaming.md
  docs/docs/testing.md
  docs/docs/uri.md
Labels: docs, series/0.23

#6727 Use Nix for CI
  .github/workflows/ci.yml
  .github/workflows/update-flake.yml
  build.sbt
  flake.lock
  flake.nix
Labels: series/0.23, behind-the-scenes

#6716 Call Chunk.toByteBuffer directly
  circe/src/main/scala/org/http4s/circe/CirceInstances.scala
Labels: module:circe, series/0.23

#6610 Make StreamForking resource safe in the face of cancelation
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/StreamForking.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/StreamForkingSuite.scala
Labels: module:ember-server

#6618 Ember-Core / H2Client / fromSocket: split for comprehension.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Labels: module:ember-core, series/0.23

#6624 Ember-Core H2Server: Extract "fulfill push promises" procedure.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Labels: module:ember-core, series/0.23

#6660 H2Stream - changes and code rewrites.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Labels: module:ember-core, series/0.23

#6709 `Cross-Origin-Resource-Policy` header model
  core/shared/src/main/scala/org/http4s/headers/Cross-Origin-Resource-Policy.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/shared/src/test/scala/org/http4s/headers/CrossOriginResourcePolicySuite.scala
Labels: module:core, module:laws, series/0.23

#6745 Make StreamForking resource safe in the face of cancelation
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/StreamForking.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/StreamForkingSuite.scala
Labels: module:ember-server, series/0.23

#6741 Add Uri.Host.fromString method
  core/shared/src/main/scala/org/http4s/Uri.scala
  tests/shared/src/test/scala/org/http4s/UriHostSuite.scala
Labels: module:core, series/0.23

#6638 Ember-Core H2Server: get streamCreationLock from H2Connection
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Labels: module:ember-core, series/0.23, behind-the-scenes

#6627 Ember-Core H2Stream readBody: extract "pullBuffer" function.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Labels: module:ember-core, series/0.23

#6749 docs: remove `Future[_]` from presupplied encoders
  docs/docs/entity.md
Labels: docs, series/0.23

#6586 Fix some scaladocs
  core/shared/src/main/scala/org/http4s/EntityEncoder.scala
  core/shared/src/main/scala/org/http4s/Message.scala
Labels: docs, module:core, series/0.23

#6754 Ember-Core: factor to H2Server loops from H2Client, H2Server.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Labels: module:ember-core, series/0.23

#6757 FS2 Streams: replace "evalMap" with "foreach".
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/RoutesToNettyAdapter.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/ParserSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/TraversalSpec.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/StreamForking.scala
Labels: module:ember-server, module:ember-core, series/0.23, behind-the-scenes

#6765 A bit more efficient size checking for `Seq` collections
  core/shared/src/main/scala/org/http4s/Uri.scala
  core/shared/src/main/scala/org/http4s/internal/CharPredicate.scala
Labels: module:core

#6766 A bit more efficient string building from `Seq` collections
  circe/src/main/scala/org/http4s/circe/DecodingFailures.scala
  client/shared/src/main/scala/org/http4s/client/oauth1/oauth1.scala
  core/shared/src/main/scala/org/http4s/MessageFailure.scala
  core/shared/src/main/scala/org/http4s/RequestCookieJar.scala
  core/shared/src/main/scala/org/http4s/internal/CurlConverter.scala
Labels: module:core, module:client, module:circe, series/0.23

#6752 Special-case `EmptyBody` in request encoder
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/EncoderSuite.scala
Labels: module:ember-core, series/0.23

#6767 Utilize `Using` from std instead of the self-written `AutoCloseableResource`
  server/jvm/src/test/scala/org/http4s/server/middleware/LoggerSuite.scala
  server/shared/src/test/scala/org/http4s/server/staticcontent/StaticContentShared.scala
  tests/shared/src/main/scala/org/http4s/testing/AutoCloseableResource.scala
  tests/shared/src/test/scala/org/http4s/StaticFileSuite.scala
Labels: testing, module:server

#6771 Add link to API docs to landing page
  docs/landing.template.html
Labels: docs

#6774 Use `map` instead of `mapValues` on `Map`s
  core/shared/src/main/scala/org/http4s/Query.scala
  core/shared/src/main/scala/org/http4s/UrlForm.scala
Labels: module:core

#6778 Reuse predefined `AuthScheme` values
  client/shared/src/main/scala/org/http4s/client/oauth1/oauth1.scala
  client/shared/src/test/scala/org/http4s/client/oauth1/OAuthSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/authentication/AuthenticationSuite.scala
Labels: module:client, module:server, series/0.23

#6777 Don't instantiate redundant `NonEmptyList` in `Writer#addList`
  core/shared/src/main/scala/org/http4s/util/Renderable.scala
Labels: module:core, series/0.23
