Repository http4s/http4s, pull requests merged in 2022-12, with the labels that each got.

#6843 Deprecate event stream entity decoder
  core/shared/src/main/scala/org/http4s/EntityDecoder.scala
  tests/shared/src/test/scala/org/http4s/ServerSentEventSpec.scala
Labels: module:core, series/0.23

#6654 removed the Ref boolean
  client/shared/src/main/scala/org/http4s/client/Client.scala
  client/shared/src/test/scala/org/http4s/client/ClientSuite.scala
Labels: module:client

#6725 Partially Rewrite Client Docs
  docs/docs/client.md
Labels: docs, series/0.23

#6847 Mark method `CharPredicate.asMaskBased` as deprecated
  core/shared/src/main/scala/org/http4s/internal/CharPredicate.scala
Labels: module:core, series/0.23

#6848 Add http4s-netty to integrations
  docs/docs/integrations.md
Labels: docs, series/0.23

#6834 Use `Temporal#realTime` in client retry middleware
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
  core/shared/src/main/scala/org/http4s/HttpDate.scala
Labels: module:core, module:client, series/0.23

#6850 Add fs2-data to integrations docs page
  docs/docs/integrations.md
Labels: docs, series/0.23

#6853 Fix for 6851 : Uri.Path.Segment can throw from its equals method
  core/shared/src/main/scala/org/http4s/Uri.scala
  tests/shared/src/test/scala/org/http4s/SegmentSuite.scala
Labels: module:core, series/0.23

#6855 Tweak body interrupting for better performance of `DefaultHead` Middleware
  server/shared/src/main/scala/org/http4s/server/middleware/DefaultHead.scala
Labels: module:server, series/0.23

#6856 Use cached value of `Right(())` to avoid allocations
  client-testkit/js/src/main/scala/org/http4s/client/testkit/scaffold/ServerScaffold.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/package.scala
  core/shared/src/main/scala/org/http4s/websocket/WebSocketHandshake.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
Labels: module:core, module:server, module:ember-core, series/0.23

#6839 Proposal: Change `Query` model
  bench/src/main/scala/org/http4s/bench/QueryBench.scala
  core/shared/src/main/scala/org/http4s/Query.scala
Labels: breaking, module:core

#6857 Merge `series/0.23` into `main`
  .github/workflows/update-flake.yml
  build.sbt
  client-testkit/js/src/main/scala/org/http4s/client/testkit/scaffold/ServerScaffold.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/package.scala
  client/js/src/main/scala/org/http4s/client/NodeJSClientBuilder.scala
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
  core/shared/src/main/scala/org/http4s/EntityDecoder.scala
  core/shared/src/main/scala/org/http4s/HttpDate.scala
  core/shared/src/main/scala/org/http4s/Uri.scala
  core/shared/src/main/scala/org/http4s/internal/CharPredicate.scala
  core/shared/src/main/scala/org/http4s/util/Renderable.scala
  docs/docs/client.md
  docs/docs/integrations.md
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/StreamForking.scala
  flake.lock
  flake.nix
  project/Http4sPlugin.scala
  project/plugins.sbt
  server/shared/src/main/scala/org/http4s/server/middleware/DefaultHead.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
  server/shared/src/main/scala/org/http4s/server/staticcontent/ResourceService.scala
  tests/shared/src/test/scala/org/http4s/SegmentSuite.scala
  tests/shared/src/test/scala/org/http4s/ServerSentEventSpec.scala
Labels: docs, module:core, module:ember-server, module:client, module:server, module:ember-core, behind-the-scenes

#6860 Clean up `DefaultHead` middleware
  server/shared/src/main/scala/org/http4s/server/middleware/DefaultHead.scala
Labels: module:server

#6772 Ember-Core: simplify logic for push promises.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Labels: module:ember-core, series/0.23

#6861 Update `Uri.fromString` return type in client docs
  docs/docs/client.md
Labels: docs, series/0.23

#6865 Eliminate redundant conversions to list
  core/shared/src/main/scala/org/http4s/Query.scala
  core/shared/src/main/scala/org/http4s/QueryOps.scala
  core/shared/src/main/scala/org/http4s/UrlForm.scala
Labels: module:core, series/0.23

#6867 Remove dead scala-xml code
  scala-xml/src/main/scala/scalaxml/ElemInstances.scala
  scala-xml/src/test/scala/scalaxml/ScalaXmlSuite.scala
Labels: behind-the-scenes

#6866 Tweak `Accept` usage to avoid variadic construction
  client/shared/src/main/scala/org/http4s/client/DefaultClient.scala
  core/shared/src/main/scala/org/http4s/headers/Accept.scala
Labels: module:core, module:client, series/0.23

#6873 Tweak DSL docs
  docs/docs/dsl.md
Labels: docs

#6876 Don't log a `Message` body for an `Entity.Empty`
  core/shared/src/main/scala/org/http4s/internal/Logger.scala
Labels: module:core

#6863 Replace numbered RFC rule objects
  core/shared/src/main/scala/org/http4s/ContentCoding.scala
  core/shared/src/main/scala/org/http4s/EntityTag.scala
  core/shared/src/main/scala/org/http4s/MediaType.scala
  core/shared/src/main/scala/org/http4s/Method.scala
  core/shared/src/main/scala/org/http4s/ProductIdOrComment.scala
  core/shared/src/main/scala/org/http4s/QValue.scala
  core/shared/src/main/scala/org/http4s/TransferCoding.scala
  core/shared/src/main/scala/org/http4s/headers/Accept-Charset.scala
  core/shared/src/main/scala/org/http4s/headers/Accept-Encoding.scala
  core/shared/src/main/scala/org/http4s/headers/Accept-Language.scala
  core/shared/src/main/scala/org/http4s/headers/Accept-Patch.scala
  core/shared/src/main/scala/org/http4s/headers/Accept-Post.scala
  core/shared/src/main/scala/org/http4s/headers/Accept-Ranges.scala
  core/shared/src/main/scala/org/http4s/headers/Accept.scala
  core/shared/src/main/scala/org/http4s/headers/Access-Control-Allow-Headers.scala
  core/shared/src/main/scala/org/http4s/headers/Access-Control-Allow-Methods.scala
  core/shared/src/main/scala/org/http4s/headers/Access-Control-Expose-Headers.scala
  core/shared/src/main/scala/org/http4s/headers/Allow.scala
  core/shared/src/main/scala/org/http4s/headers/Authorization.scala
  core/shared/src/main/scala/org/http4s/headers/Cache-Control.scala
  core/shared/src/main/scala/org/http4s/headers/Connection.scala
  core/shared/src/main/scala/org/http4s/headers/Content-Disposition.scala
  core/shared/src/main/scala/org/http4s/headers/Content-Language.scala
  core/shared/src/main/scala/org/http4s/headers/Content-Range.scala
  core/shared/src/main/scala/org/http4s/headers/Forwarded.scala
  core/shared/src/main/scala/org/http4s/headers/ForwardedRenderers.scala
  core/shared/src/main/scala/org/http4s/headers/Idempotency-Key.scala
  core/shared/src/main/scala/org/http4s/headers/If-Match.scala
  core/shared/src/main/scala/org/http4s/headers/If-None-Match.scala
  core/shared/src/main/scala/org/http4s/headers/Keep-Alive.scala
  core/shared/src/main/scala/org/http4s/headers/Link.scala
  core/shared/src/main/scala/org/http4s/headers/Proxy-Authenticate.scala
  core/shared/src/main/scala/org/http4s/headers/Proxy-Authorization.scala
  core/shared/src/main/scala/org/http4s/headers/Range.scala
  core/shared/src/main/scala/org/http4s/headers/Strict-Transport-Security.scala
  core/shared/src/main/scala/org/http4s/headers/Trailer.scala
  core/shared/src/main/scala/org/http4s/headers/Transfer-Encoding.scala
  core/shared/src/main/scala/org/http4s/headers/Upgrade.scala
  core/shared/src/main/scala/org/http4s/headers/WWW-Authenticate.scala
  core/shared/src/main/scala/org/http4s/headers/X-Forwarded-For.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/AuthRules.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/CommonRules.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/Rfc7230.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/Rfc7235.scala
  core/shared/src/main/scala/org/http4s/parser/AdditionalRules.scala
Labels: module:core, series/0.23, behind-the-scenes

#6862 Fix formatting of some scaladocs in core
  core/shared/src/main/scala/org/http4s/Query.scala
  core/shared/src/main/scala/org/http4s/QueryOps.scala
  core/shared/src/main/scala/org/http4s/Uri.scala
  core/shared/src/main/scala/org/http4s/UrlForm.scala
  core/shared/src/main/scala/org/http4s/headers/Cookie.scala
  core/shared/src/main/scala/org/http4s/headers/ETag.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/Cookies.scala
Labels: docs, module:core, series/0.23

#6881 Tweak stream compiling to hex string in `Logger`
  core/shared/src/main/scala/org/http4s/internal/Logger.scala
Labels: module:core, series/0.23

#6878 Log a `Message` body considering the `Entity` model
  core/shared/src/main/scala/org/http4s/Charset.scala
  core/shared/src/main/scala/org/http4s/internal/Logger.scala
Labels: module:core

#6883 Merge `series/0.23` into `main`
  client/shared/src/main/scala/org/http4s/client/DefaultClient.scala
  core/shared/src/main/scala/org/http4s/ContentCoding.scala
  core/shared/src/main/scala/org/http4s/EntityTag.scala
  core/shared/src/main/scala/org/http4s/MediaType.scala
  core/shared/src/main/scala/org/http4s/Method.scala
  core/shared/src/main/scala/org/http4s/ProductIdOrComment.scala
  core/shared/src/main/scala/org/http4s/QValue.scala
  core/shared/src/main/scala/org/http4s/Query.scala
  core/shared/src/main/scala/org/http4s/QueryOps.scala
  core/shared/src/main/scala/org/http4s/TransferCoding.scala
  core/shared/src/main/scala/org/http4s/Uri.scala
  core/shared/src/main/scala/org/http4s/UrlForm.scala
  core/shared/src/main/scala/org/http4s/headers/Accept-Charset.scala
  core/shared/src/main/scala/org/http4s/headers/Accept-Encoding.scala
  core/shared/src/main/scala/org/http4s/headers/Accept-Language.scala
  core/shared/src/main/scala/org/http4s/headers/Accept-Patch.scala
  core/shared/src/main/scala/org/http4s/headers/Accept-Post.scala
  core/shared/src/main/scala/org/http4s/headers/Accept-Ranges.scala
  core/shared/src/main/scala/org/http4s/headers/Accept.scala
  core/shared/src/main/scala/org/http4s/headers/Access-Control-Allow-Headers.scala
  core/shared/src/main/scala/org/http4s/headers/Access-Control-Allow-Methods.scala
  core/shared/src/main/scala/org/http4s/headers/Access-Control-Expose-Headers.scala
  core/shared/src/main/scala/org/http4s/headers/Allow.scala
  core/shared/src/main/scala/org/http4s/headers/Authorization.scala
  core/shared/src/main/scala/org/http4s/headers/Cache-Control.scala
  core/shared/src/main/scala/org/http4s/headers/Connection.scala
  core/shared/src/main/scala/org/http4s/headers/Content-Disposition.scala
  core/shared/src/main/scala/org/http4s/headers/Content-Language.scala
  core/shared/src/main/scala/org/http4s/headers/Content-Range.scala
  core/shared/src/main/scala/org/http4s/headers/Cookie.scala
  core/shared/src/main/scala/org/http4s/headers/ETag.scala
  core/shared/src/main/scala/org/http4s/headers/Forwarded.scala
  core/shared/src/main/scala/org/http4s/headers/ForwardedRenderers.scala
  core/shared/src/main/scala/org/http4s/headers/Idempotency-Key.scala
  core/shared/src/main/scala/org/http4s/headers/If-Match.scala
  core/shared/src/main/scala/org/http4s/headers/If-None-Match.scala
  core/shared/src/main/scala/org/http4s/headers/Keep-Alive.scala
  core/shared/src/main/scala/org/http4s/headers/Link.scala
  core/shared/src/main/scala/org/http4s/headers/Proxy-Authenticate.scala
  core/shared/src/main/scala/org/http4s/headers/Proxy-Authorization.scala
  core/shared/src/main/scala/org/http4s/headers/Range.scala
  core/shared/src/main/scala/org/http4s/headers/Strict-Transport-Security.scala
  core/shared/src/main/scala/org/http4s/headers/Trailer.scala
  core/shared/src/main/scala/org/http4s/headers/Transfer-Encoding.scala
  core/shared/src/main/scala/org/http4s/headers/Upgrade.scala
  core/shared/src/main/scala/org/http4s/headers/WWW-Authenticate.scala
  core/shared/src/main/scala/org/http4s/headers/X-Forwarded-For.scala
  core/shared/src/main/scala/org/http4s/internal/Logger.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/AuthRules.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/CommonRules.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/Cookies.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/Rfc7230.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/Rfc7235.scala
  core/shared/src/main/scala/org/http4s/parser/AdditionalRules.scala
  docs/docs/client.md
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  flake.lock
  project/Http4sPlugin.scala
Labels: docs, module:core, module:client, module:ember-core, behind-the-scenes

#6886 Address the `Entity` model in the `ChunkAggregator` Middleware
  server/shared/src/main/scala/org/http4s/server/middleware/ChunkAggregator.scala
Labels: module:server
