Repository http4s/http4s, pull requests merged in 2022-09, with the labels that each got.

#6649 Default redactHeadersWhen to include any header with "token" #6186
  client/shared/src/main/scala/org/http4s/client/middleware/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
Labels: module:client, module:server, series/0.23

#6651 Deprecate some methods in `Client`
  client/shared/src/main/scala/org/http4s/client/Client.scala
  client/shared/src/test/scala/org/http4s/client/ClientSyntaxSuite.scala
Labels: module:client, series/0.23

#6657 Update to munit 1.0.0-M6
  client-testkit/shared/src/main/scala/org/http4s/client/testkit/ClientRouteTestBattery.scala
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerMtlsSuite.scala
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/ConnectionSuite.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
  project/Http4sPlugin.scala
  tests/jvm/src/main/scala/org/http4s/Http4sSuitePlatform.scala
  tests/shared/src/main/scala/org/http4s/Http4sSuite.scala
  tests/shared/src/main/scala/org/http4s/testing/DispatcherIOFixture.scala
  tests/shared/src/test/scala/org/http4s/UriSpec.scala
Labels: module:ember-server, series/0.23, behind-the-scenes

#6526 Expose `Network` constraint in ember builders
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Labels: module:ember-client, module:ember-server, series/0.23

#6661 Scala Native
  .github/workflows/ci.yml
  build.sbt
  client-testkit/js-jvm/src/main/scala/org/http4s/client/testkit/ClientRouteTestBattery.scala
  core/js-jvm/src/main/scala/org/http4s/internal/InternalPlatform.scala
  core/js-native/src/main/scala/org/http4s/CharsetPlatform.scala
  core/js/src/main/scala/org/http4s/Platform.scala
  core/jvm/src/main/scala/org/http4s/Platform.scala
  core/native/src/main/scala/org/http4s/Platform.scala
  core/native/src/main/scala/org/http4s/internal/InternalPlatform.scala
  core/shared/src/main/scala/org/http4s/MediaType.scala
  ember-client/js-jvm/src/test/scala/org/http4s/ember/client/EmberClientSuite.scala
  ember-client/js/src/main/scala/org/http4s/ember/client/EmberClientBuilderCompanionPlatform.scala
  ember-client/jvm/src/main/scala/org/http4s/ember/client/EmberClientBuilderCompanionPlatform.scala
  ember-client/native/src/main/scala/org/http4s/ember/client/EmberClientBuilderCompanionPlatform.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-core/js-native/src/main/scala/org/http4s/ember/core/h2/HpackPlatform.scala
  ember-core/native/src/main/scala/org/http4s/ember/core/UtilPlatform.scala
  ember-core/native/src/main/scala/org/http4s/ember/core/h2/H2TLSPlatform.scala
  ember-server/js-jvm/src/test/scala/org/http4s/ember/server/EmberUnixSocketSuite.scala
  ember-server/js-native/src/main/scala/org/http4s/ember/server/EmberServerBuilderPlatform.scala
  ember-server/js-native/src/main/scala/org/http4s/ember/server/internal/ServerHelpersPlatform.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
  project/Http4sPlugin.scala
  project/plugins.sbt
  server/js-native/src/main/scala/org/http4s/server/Ip4sServer.scala
  server/js-native/src/main/scala/org/http4s/server/SecureSession.scala
  server/js-native/src/main/scala/org/http4s/server/Server.scala
  server/js-native/src/main/scala/org/http4s/server/middleware/GZipPlatform.scala
  server/shared/src/main/scala/org/http4s/server/package.scala
  server/shared/src/test/scala/org/http4s/server/staticcontent/StaticContentShared.scala
  tests/js-native/src/test/scala/org/http4s/CrossPlatformResource.scala
  tests/native/src/main/scala/org/http4s/Http4sSuitePlatform.scala
  tests/shared/src/test/scala/org/http4s/UriSpec.scala
Labels: module:core, module:ember-client, module:ember-server, module:server, module:ember-core, series/0.23

#6680 Release 0.23.16
  docs/changelog.md
Labels: docs, series/0.23, behind-the-scenes

#6691 Setup linking paths for OpenSSL on macOS
  build.sbt
Labels: series/0.23, behind-the-scenes

#6692 0.23 -> main
  .github/workflows/ci.yml
  build.sbt
  client-testkit/js-jvm/src/main/scala/org/http4s/client/testkit/ClientRouteTestBattery.scala
  core/js-jvm/src/main/scala/org/http4s/internal/InternalPlatform.scala
  core/js-native/src/main/scala/org/http4s/CharsetPlatform.scala
  core/js/src/main/scala/org/http4s/Platform.scala
  core/jvm/src/main/scala/org/http4s/Platform.scala
  core/native/src/main/scala/org/http4s/Platform.scala
  core/native/src/main/scala/org/http4s/internal/InternalPlatform.scala
  core/shared/src/main/scala/org/http4s/MediaType.scala
  docs/changelog.md
  ember-client/js-jvm/src/test/scala/org/http4s/ember/client/EmberClientSuite.scala
  ember-client/js/src/main/scala/org/http4s/ember/client/EmberClientBuilderCompanionPlatform.scala
  ember-client/jvm/src/main/scala/org/http4s/ember/client/EmberClientBuilderCompanionPlatform.scala
  ember-client/native/src/main/scala/org/http4s/ember/client/EmberClientBuilderCompanionPlatform.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-core/js-native/src/main/scala/org/http4s/ember/core/h2/HpackPlatform.scala
  ember-core/native/src/main/scala/org/http4s/ember/core/UtilPlatform.scala
  ember-core/native/src/main/scala/org/http4s/ember/core/h2/H2TLSPlatform.scala
  ember-server/js-jvm/src/test/scala/org/http4s/ember/server/EmberUnixSocketSuite.scala
  ember-server/js-native/src/main/scala/org/http4s/ember/server/EmberServerBuilderPlatform.scala
  ember-server/js-native/src/main/scala/org/http4s/ember/server/internal/ServerHelpersPlatform.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
  project/Http4sPlugin.scala
  project/build.sbt
  project/plugins.sbt
  server/js-native/src/main/scala/org/http4s/server/SecureSession.scala
  server/shared/src/main/scala/org/http4s/server/package.scala
  server/shared/src/test/scala/org/http4s/server/staticcontent/StaticContentShared.scala
  tests/js-native/src/test/scala/org/http4s/CrossPlatformResource.scala
  tests/native/src/main/scala/org/http4s/Http4sSuitePlatform.scala
  tests/shared/src/test/scala/org/http4s/UriSpec.scala
Labels: docs, module:core, module:ember-client, module:ember-server, module:server, module:ember-core, behind-the-scenes

#6697 Release v1.0.0-M37
  docs/changelog.md
Labels: docs, behind-the-scenes

#6708 apply syntax highlighting to code blocks in `contributing.md`
  docs/contributing.md
Labels: docs, series/0.23

#6714 Added scala k8s to libraries in the adopters page
  docs/adopters.md
Labels: docs, series/0.23

#6715 Use ubuntu-22.04 in ci
  .github/workflows/ci.yml
  build.sbt
Labels: series/0.23

#6722 Invoke brew via full path
  .github/workflows/ci.yml
  build.sbt
Labels: series/0.23, behind-the-scenes

#6717 Promote Scala Native support on homepage
  docs/versions.md
  project/Http4sSitePlugin.scala
Labels: docs
