Repository http4s/http4s, pull requests merged in 2022-03, with the labels that each got.

#6080 Optimize Http1Writer for cases when the entity is Empty or Strict
  blaze-client/src/main/scala/org/http4s/blaze/client/Http1Connection.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/Http1Writer.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
Labels: module:blaze-client, module:blaze-server, module:blaze-core

#6075 Update tomcat-catalina, tomcat-coyote, ... to 9.0.59 in series/0.22
  project/Http4sPlugin.scala
Labels: dependencies, series/0.22

#6070 Update sbt-native-packager to 1.9.9 in series/0.22
  project/plugins.sbt
Labels: dependencies, series/0.22

#6066 Caching Middleware - Small Rewrites
  server/shared/src/main/scala/org/http4s/server/middleware/Caching.scala
Labels: module:server, series/0.23

#6062 Update sbt-buildinfo to 0.11.0 in series/0.22
  project/plugins.sbt
Labels: dependencies, series/0.22

#6084 Ignore `sbt-buildinfo` updates
  .scala-steward.conf
Labels: series/0.23

#6082 More tolerant cookie parsing
  core/src/main/scala/org/http4s/ResponseCookie.scala
  core/src/main/scala/org/http4s/internal/parsing/Cookies.scala
  tests/src/test/scala/org/http4s/headers/CookieSuite.scala
Labels: module:core, series/0.22

#6085 Fix ember client cancellation bug
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
Labels: bug, module:ember-client, series/0.23

#6037 - Adds the async timeout as a method param
  examples/war/src/main/scala/com/example/http4s/war/Bootstrap.scala
  servlet/src/main/scala-2.12/org/http4s/servlet/syntax/ServletContextOpsCompanionCompat.scala
  servlet/src/main/scala-2.13/org/http4s/servlet/syntax/ServletContextOpsCompanionCompat.scala
  servlet/src/main/scala-3/org/http4s/servlet/syntax/ServletContextOpsCompanionCompat.scala
  servlet/src/main/scala/org/http4s/servlet/syntax/ServletContextSyntax.scala
Labels: module:servlet, series/0.23

#6088 Update logback-classic to 1.2.11 in series/0.22
  project/plugins.sbt
Labels: dependencies, series/0.22

#6092 Optimize CachingChunkWriter for Chunk.empty case
  blaze-core/src/main/scala/org/http4s/blazecore/util/CachingChunkWriter.scala
Labels: module:blaze-core, series/0.23

#6011 Message: add pipeBodyThrough method
  blaze-client/src/test/scala/org/http4s/blaze/client/Http1ClientStageSuite.scala
  client/jvm/src/main/scala/org/http4s/client/middleware/GZip.scala
  client/shared/src/main/scala/org/http4s/client/Client.scala
  client/shared/src/main/scala/org/http4s/client/DefaultClient.scala
  client/shared/src/main/scala/org/http4s/client/middleware/RequestLogger.scala
  client/shared/src/main/scala/org/http4s/client/middleware/ResponseLogger.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  server/jvm/src/main/scala/org/http4s/server/middleware/GZip.scala
  server/shared/src/main/scala/org/http4s/server/middleware/BracketRequestResponse.scala
  server/shared/src/main/scala/org/http4s/server/middleware/DefaultHead.scala
  server/shared/src/main/scala/org/http4s/server/middleware/EntityLimiter.scala
  server/shared/src/main/scala/org/http4s/server/middleware/PushSupport.scala
  server/shared/src/main/scala/org/http4s/server/middleware/RequestLogger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
Labels: module:core, module:blaze-client, module:client, module:server, series/0.23

#6093 Update cats-effect, cats-effect-laws, ... to 3.3.7 in series/0.23
  project/Http4sPlugin.scala
Labels: dependencies, series/0.23

#6091 Avoid draining body on error/cancel for Entity.Strict and Empty
  blaze-core/src/main/scala/org/http4s/blazecore/util/Http1Writer.scala
Labels: module:blaze-core

#6096 Add micro-opts for `CachingChunkWriter`
  blaze-core/src/main/scala/org/http4s/blazecore/util/CachingChunkWriter.scala
Labels: module:blaze-core, series/0.23

#6099 Update metrics-core, metrics-json to 4.2.9 in series/0.22
  project/Http4sPlugin.scala
Labels: dependencies, series/0.22

#6097 Docs: ember supports websockets
  docs/src/main/mdoc/integrations.md
Labels: docs, series/0.22

#6102 Update netty-buffer, netty-codec-http to 4.1.75.Final in series/0.22
  project/Http4sPlugin.scala
Labels: dependencies, series/0.22

#6103 Update sbt-http4s-org to 0.13.0 in series/0.22
  project/plugins.sbt
Labels: dependencies, series/0.22

#6090 Collect entity from parser, support Entity.Strict and Empty
  blaze-client/src/main/scala/org/http4s/blaze/client/Http1Connection.scala
  blaze-core/src/main/scala/org/http4s/blazecore/Http1Stage.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerParser.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
Labels: module:blaze-client, module:blaze-server, module:blaze-core

#6112 Optimize `EntityDecoder.{collectBinary|collectByteVector|error|void}`
  core/shared/src/main/scala/org/http4s/EntityDecoder.scala
Labels: module:core

#6110 Optimize `ResponseLogger` and `RequestLogger`
  client/shared/src/main/scala/org/http4s/client/middleware/RequestLogger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
Labels: module:client, module:server

#6100 Remove unused ExecutionContexts in blaze-core
  blaze-core/src/main/scala/org/http4s/blazecore/util/BodylessWriter.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/EntityBodyWriter.scala
  blaze-core/src/test/scala/org/http4s/blazecore/util/DumpingWriter.scala
  blaze-core/src/test/scala/org/http4s/blazecore/util/FailingWriter.scala
  build.sbt
Labels: module:blaze-core, series/0.23

#6119 Deprecate internal Trampoline
  core/shared/src/main/scala/org/http4s/internal/Trampoline.scala
  tests/shared/src/test/scala/org/http4s/internal/ExecutionSuite.scala
Labels: module:core, series/0.23

#6109 Rm deprecated `BlazeClientBuilder`
  blaze-client/src/main/scala/org/http4s/client/blaze/package.scala
Labels: module:blaze-client

#6114 Deprecate async-http-client
  async-http-client/src/main/scala/org/http4s/asynchttpclient/AsyncHttpClient.scala
  async-http-client/src/main/scala/org/http4s/asynchttpclient/AsyncHttpClientStats.scala
  async-http-client/src/test/scala/org/http4s/asynchttpclient/AsyncHttpClientSuite.scala
Labels: module:async-http-client, series/0.22

#6116 Remove redundant draining of response body in `Http4sServlet`
  servlet/src/main/scala/org/http4s/servlet/Http4sServlet.scala
Labels: module:servlet

#6047 Add Additional ErrorHandling Options
  server/shared/src/main/scala/org/http4s/server/middleware/ErrorHandling.scala
Labels: module:server, series/0.23

#6118 Further reduce ExecutionContexts in blaze
  blaze-core/src/main/scala-2.12/org/http4s/blazecore/util/ParasiticExecutionContextCompat.scala
  blaze-core/src/main/scala-2.13/org/http4s/blazecore/util/ParasiticExecutionContextCompat.scala
  blaze-core/src/main/scala-3/org/http4s/blazecore/util/ParasiticExecutionContextCompat.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/CachingChunkWriter.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/CachingStaticWriter.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/FlushingChunkWriter.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/Http2Writer.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/IdentityWriter.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/package.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/Http2NodeStage.scala
  build.sbt
Labels: module:blaze-server, module:blaze-core, series/0.23

#6121 Merge 0.21 -> 0.22
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/Http2NodeStage.scala
  ember-server/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  servlet/src/main/scala/org/http4s/servlet/AsyncHttp4sServlet.scala
  servlet/src/main/scala/org/http4s/servlet/Http4sServlet.scala
  servlet/src/main/scala/org/http4s/servlet/ServletIo.scala
  website/src/hugo/content/changelog.md
Labels: series/0.22, behind-the-scenes

#6122 Exclude series/0.21 from release notes
  .github/release.yml
Labels: series/0.22, behind-the-scenes

#6123 Release v0.22.12
  site/src/main/mdoc/changelog.md
Labels: series/0.22

#6132 Update tomcat-catalina, tomcat-coyote, ... to 9.0.60 in series/0.22
  project/Http4sPlugin.scala
Labels: dependencies, series/0.22

#6135 Add OptionT Based Versions Of expectOption*
  client/shared/src/main/scala/org/http4s/client/Client.scala
Labels: module:client, series/0.23

#6057 Routing on variable segments
  server/src/main/scala/org/http4s/server/ContextRouter.scala
  server/src/main/scala/org/http4s/server/Router.scala
  server/src/test/scala/org/http4s/server/ContextRouterSuite.scala
  server/src/test/scala/org/http4s/server/RouterSuite.scala
Labels: module:server, series/0.22

#6128 Remove redundant draining of request/response body
  blaze-core/src/main/scala/org/http4s/blazecore/util/BodylessWriter.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/Http1Writer.scala
  core/src/main/scala/org/http4s/EntityDecoder.scala
  servlet/src/main/scala/org/http4s/servlet/Http4sServlet.scala
Labels: module:servlet, module:core, module:blaze-core, series/0.22

#6133 Use blocking EC in the `BlockingServletIo`
  servlet/src/main/scala/org/http4s/servlet/ServletIo.scala
Labels: module:servlet, series/0.23

#6142 Fix the unidoc artifact
  build.sbt
Labels: series/0.23, behind-the-scenes

#6140 Release v0.23.11
  site/src/main/mdoc/changelog.md
Labels: series/0.23

#6145 Use parasitic EC in the blaze for Scala 2.13
  blaze-core/src/main/scala-2.13/org/http4s/blazecore/util/ParasiticExecutionContextCompat.scala
Labels: module:blaze-core, series/0.23

#6136 Support parsing response bodies without Content-Length in ember (0.21)
  ember-core/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/src/test/scala/org/http4s/ember/core/ParserSuite.scala
Labels: module:ember-core, series/0.21

#6143 Merge `series/0.22` into `series/0.23`
  blaze-core/src/main/scala/org/http4s/blazecore/util/BodylessWriter.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/Http1Writer.scala
  core/shared/src/main/scala/org/http4s/EntityDecoder.scala
  project/Http4sPlugin.scala
  server/shared/src/main/scala/org/http4s/server/ContextRouter.scala
  server/shared/src/main/scala/org/http4s/server/Router.scala
  server/shared/src/test/scala/org/http4s/server/ContextRouterSuite.scala
  server/shared/src/test/scala/org/http4s/server/RouterSuite.scala
  servlet/src/main/scala/org/http4s/servlet/Http4sServlet.scala
Labels: module:servlet, module:core, module:server, module:blaze-core, series/0.23, behind-the-scenes

#6147 Release v0.21.33
  website/src/hugo/content/changelog.md
Labels: docs

#6148 Restore changes to versions page on main
  site/src/main/mdoc/versions.md
Labels: docs, behind-the-scenes

#6149 Update http4s-circe, http4s-ember-client to 0.23.11 in series/0.22
  project/build.sbt
Labels: dependencies, series/0.22

#6151 Don't publish website from 0.21
  .github/workflows/ci.yml
  project/Http4sPlugin.scala
Labels: behind-the-scenes, series/0.21

#6153 Merge after 0.21.33
  ember-core/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/src/test/scala/org/http4s/ember/core/ParserSuite.scala
  site/src/main/mdoc/changelog.md
Labels: module:ember-core, series/0.22, behind-the-scenes

#6154 Merge 0.22 to 0.23
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  project/build.sbt
  site/src/main/mdoc/changelog.md
Labels: module:ember-core, series/0.23

#6156 Remove deprecated things
  core/shared/src/main/scala/org/http4s/HttpVersion.scala
  server/jvm/src/main/scala/org/http4s/server/middleware/CSRF.scala
Labels: module:core, module:server

#6124 Remove deprecated execution contexts
  blaze-core/src/main/scala-2.12/org/http4s/blazecore/util/ParasiticExecutionContextCompat.scala
  blaze-core/src/main/scala-2.13/org/http4s/blazecore/util/ParasiticExecutionContextCompat.scala
  blaze-core/src/main/scala-3/org/http4s/blazecore/util/ParasiticExecutionContextCompat.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/CachingStaticWriter.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/FlushingChunkWriter.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/Http2Writer.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/IdentityWriter.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/package.scala
Labels: module:core, module:server, module:blaze-server, module:blaze-core, behind-the-scenes

#6157 Update cats-effect, cats-effect-laws, ... to 3.3.8 in series/0.23
  project/Http4sPlugin.scala
Labels: dependencies, series/0.23

#6158 Don't override api url
  build.sbt
Labels: series/0.22, behind-the-scenes

#6167 Use predefined Close connection header
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/WebSocketSupport.scala
  blaze-server/src/test/scala/org/http4s/blaze/server/ServerTestRoutes.scala
  circe/src/main/scala/org/http4s/circe/middleware/JsonDebugErrorHandler.scala
  core/src/main/scala/org/http4s/headers/Connection.scala
  ember-server/src/test/scala/org/http4s/ember/server/ConnectionSuite.scala
  server/src/main/scala/org/http4s/server/package.scala
  testing/src/test/scala/org/http4s/testing/ErrorReporting.scala
  tests/src/test/scala/org/http4s/ResponderSpec.scala
Labels: module:core, module:ember-server, module:server, module:blaze-server, module:circe, series/0.22

#6166 Fix comment in org.http4s.Message.scala
  core/src/main/scala/org/http4s/Message.scala
Labels: module:core, series/0.22

#6130 Refactor the `EntityBodyWriter.writeEntityBody`
  blaze-core/src/main/scala/org/http4s/blazecore/util/BodylessWriter.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/EntityBodyWriter.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/Http1Writer.scala
  blaze-core/src/test/scala/org/http4s/blazecore/util/DumpingWriter.scala
  blaze-core/src/test/scala/org/http4s/blazecore/util/Http1WriterSpec.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/Http2NodeStage.scala
Labels: module:blaze-server, module:blaze-core

#6139 Fix `Client#translate` and relax constraints
  build.sbt
  client/shared/src/main/scala/org/http4s/client/Client.scala
  client/shared/src/test/scala/org/http4s/client/ClientSuite.scala
Labels: module:client, series/0.23

#6160 Remove unused `EntityBodyWriter.wroteHeader`
  blaze-core/src/main/scala/org/http4s/blazecore/util/EntityBodyWriter.scala
Labels: module:blaze-core

#6168 Override `toString` for `Entity`
  core/shared/src/main/scala/org/http4s/Entity.scala
Labels: module:core

#6171 Fix `Request`/`Response` scaladoc
  core/shared/src/main/scala/org/http4s/Message.scala
Labels: module:core

#6174 Remove sbt-scalajs-crossproject dependency
  project/plugins.sbt
Labels: dependencies, series/0.23

#6175 Remove http4s-async-http-client
  .github/workflows/ci.yml
  async-http-client/src/main/scala/org/http4s/asynchttpclient/AsyncHttpClient.scala
  async-http-client/src/main/scala/org/http4s/asynchttpclient/AsyncHttpClientStats.scala
  async-http-client/src/main/scala/org/http4s/asynchttpclient/EmptyBodyGenerator.scala
  async-http-client/src/main/scala/org/http4s/asynchttpclient/NoOpCookieStore.scala
  async-http-client/src/test/scala/org/http4s/asynchttpclient/AsyncHttpClientSuite.scala
  build.sbt
  site/src/main/mdoc/docs/integrations.md
Labels: module:async-http-client

#6138 Resolve #6068 digestauth challenge redux
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestUtil.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/Nonce.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceF.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
  server/src/test/scala/org/http4s/server/middleware/authentication/AuthenticationSuite.scala
Labels: module:server, series/0.22

#6180 Clean up `BlazeServerBuilder` scaladoc
  blaze-server/src/main/scala/org/http4s/blaze/server/BlazeServerBuilder.scala
Labels: docs, module:blaze-server, series/0.22

#6177 Integrate Random into DigestAuth
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/Nonce.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceF.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeper.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
Labels: module:server, series/0.22

#6098 Document the use of the execution context passed to the blaze builders.
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeClientBuilder.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/BlazeServerBuilder.scala
Labels: module:servlet, module:core, module:blaze-client, module:client, module:server, module:blaze-server, module:ember-core, module:blaze-core

#6185 Update cats-effect, cats-effect-laws, ... to 3.3.9 in series/0.23
  project/Http4sPlugin.scala
Labels: dependencies, series/0.23

#6178 Merge 0.22 -> 0.23
  blaze-server/src/main/scala/org/http4s/blaze/server/BlazeServerBuilder.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/WebSocketSupport.scala
  blaze-server/src/test/scala/org/http4s/blaze/server/ServerTestRoutes.scala
  build.sbt
  circe/src/main/scala/org/http4s/circe/middleware/JsonDebugErrorHandler.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/headers/Connection.scala
  core/shared/src/main/scala/org/http4s/metrics/MetricsOps.scala
  core/shared/src/main/scala/org/http4s/multipart/MultipartEncoder.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/ConnectionSuite.scala
  examples/blaze/src/main/scala/com/example/http4s/blaze/ClientMultipartPostExample.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/DigestUtil.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/Nonce.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/NonceF.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeper.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/package.scala
  server/shared/src/main/scala/org/http4s/server/package.scala
  server/shared/src/test/scala/org/http4s/server/middleware/authentication/AuthenticationSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/authentication/NonceFSpec.scala
  testing/shared/src/test/scala/org/http4s/testing/ErrorReporting.scala
  tests/shared/src/test/scala/org/http4s/ResponderSpec.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartSuite.scala
Labels: module:core, module:ember-server, module:server, module:blaze-server, module:circe, series/0.23

#6188 Fix `Client` scaladoc
  client/shared/src/main/scala/org/http4s/client/Client.scala
Labels: docs, module:client

#6187 Remove deprecated `Client.fetch`, `DefaultClient.fetch`
  client/shared/src/main/scala/org/http4s/client/Client.scala
  client/shared/src/main/scala/org/http4s/client/DefaultClient.scala
Labels: breaking, module:client

#6184 Fix StatusSpec sanitization property
  tests/src/test/scala/org/http4s/StatusSpec.scala
Labels: series/0.22

#6190 Update sbt-doctest to 0.10.0 in series/0.22
  project/plugins.sbt
Labels: dependencies, series/0.22

#6164 Relax ContextRouter's constraints
  server/shared/src/main/scala/org/http4s/server/ContextRouter.scala
Labels: module:server, series/0.23

#6194 Get sbt-doctest from 0.22
  .scala-steward.conf
Labels: series/0.23

#6179 Blaze server enhancements
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
Labels: module:blaze-server, series/0.22

#6182 Deprecate blaze TrustingSslContext
  blaze-client/src/main/scala/org/http4s/blaze/client/bits.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientBase.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientSuite.scala
Labels: module:blaze-client, series/0.23

#6196 Merge 0.22 -> 0.23
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
Labels: module:blaze-server, series/0.23

#6203 Fixed Dead Links in further-reading.md
  site/src/main/mdoc/further-reading.md
Labels: docs, series/0.23

#6200 Use `guarantee` on failed request clean-up in the blaze
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
Labels: module:blaze-server, series/0.23

#6209 Update fs2-core, fs2-io, ... to 3.2.7 in series/0.23
  project/Http4sPlugin.scala
Labels: dependencies, series/0.23

#6197 Update sbt-http4s-org to 0.13.1 in series/0.22
  build.sbt
  docs/adopters.md
  docs/changelog.md
  docs/code-of-conduct.md
  docs/contributing.md
  docs/directory.conf
  docs/docs/auth.md
  docs/docs/client.md
  docs/docs/cors.md
  docs/docs/csrf.md
  docs/docs/deployment.md
  docs/docs/directory.conf
  docs/docs/dsl.md
  docs/docs/entity.md
  docs/docs/error-handling.md
  docs/docs/gzip.md
  docs/docs/hsts.md
  docs/docs/integrations.md
  docs/docs/json.md
  docs/docs/methods.md
  docs/docs/middleware.md
  docs/docs/quickstart.md
  docs/docs/service.md
  docs/docs/static.md
  docs/docs/streaming.md
  docs/docs/testing.md
  docs/docs/upgrading.md
  docs/docs/uri.md
  docs/further-reading.md
  docs/getting-help.md
  docs/laika/versionInfo.json
  docs/landing.template.html
  docs/styles/landing.page.css
  docs/versions.md
  project/Http4sSitePlugin.scala
  project/plugins.sbt
  site/src/test/resources/logback-test.xml
Labels: docs, dependencies, series/0.22

#6198 Use tryScheduling within IdleTimeoutStage
  blaze-core/src/main/scala/org/http4s/blazecore/IdleTimeoutStage.scala
Labels: module:blaze-core, series/0.22
