Repository http4s/http4s, pull requests merged in 2022-04, with the labels that each got.

#6216 Update http4s-crypto to 0.2.3 in series/0.23
  project/Http4sPlugin.scala
Labels: dependencies, series/0.23

#6218 Pin http4s-crypto to 0.1.x in 0.22
  .scala-steward.conf
Labels: series/0.22, behind-the-scenes

#6214 Update tomcat-catalina, tomcat-coyote, ... to 9.0.62 in series/0.22
  project/Http4sPlugin.scala
Labels: dependencies, series/0.22

#6220 Update jetty-client, jetty-http, ... to 9.4.46.v20220331 in series/0.22
  project/Http4sPlugin.scala
Labels: dependencies, series/0.22

#6210 Avoid array copies when splitting chunks in ember chunked decoder
  ember-core/shared/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala
Labels: module:ember-core, series/0.23

#6224 Update cats-parse to 0.3.7 in series/0.22
  project/Http4sPlugin.scala
Labels: dependencies, series/0.22

#6223 Update scalafmt-core to 3.5.0 in series/0.22
  .scalafmt.conf
  server/src/test/scala/org/http4s/server/middleware/ChunkAggregatorSuite.scala
Labels: module:server, dependencies, series/0.22

#6226 Update cats-parse from 0.22
  .scala-steward.conf
Labels: series/0.23

#6208 Tweak `async` usage in `Http1Connection`
  blaze-client/src/main/scala/org/http4s/blaze/client/Http1Connection.scala
Labels: module:blaze-client, series/0.23

#6211 Make MimeDB go away on JS
  .github/workflows/ci.yml
  build.sbt
  core/shared/src/main/scala/org/http4s/MediaType.scala
  js-artifact-size-test/src/main/scala/Main.scala
  project/MimeLoader.scala
Labels: module:core, series/0.23

#6227 Merge 0.22 -> 0.23
  .scalafmt.conf
  blaze-core/src/main/scala/org/http4s/blazecore/IdleTimeoutStage.scala
  build.sbt
  docs/adopters.md
  docs/changelog.md
  docs/code-of-conduct.md
  docs/contributing.md
  docs/directory.conf
  docs/docs/auth.md
  docs/docs/client.md
  docs/docs/cors.md
  docs/docs/csrf.md
  docs/docs/deployment.md
  docs/docs/directory.conf
  docs/docs/dsl.md
  docs/docs/entity.md
  docs/docs/error-handling.md
  docs/docs/gzip.md
  docs/docs/hsts.md
  docs/docs/integrations.md
  docs/docs/json.md
  docs/docs/methods.md
  docs/docs/middleware.md
  docs/docs/quickstart.md
  docs/docs/service.md
  docs/docs/static.md
  docs/docs/streaming.md
  docs/docs/testing.md
  docs/docs/upgrading.md
  docs/docs/uri.md
  docs/further-reading.md
  docs/getting-help.md
  docs/laika/versionInfo.json
  docs/landing.template.html
  docs/styles/landing.page.css
  docs/versions.md
  project/Http4sPlugin.scala
  project/Http4sSitePlugin.scala
  project/plugins.sbt
  server/shared/src/test/scala/org/http4s/server/middleware/ChunkAggregatorSuite.scala
  site/src/test/resources/logback-test.xml
Labels: docs, module:server, module:blaze-core, series/0.23

#6231 Update cats-effect, cats-effect-laws, ... to 3.3.10 in series/0.23
  project/Http4sPlugin.scala
Labels: dependencies, series/0.23

#6236 Ignore `scala-xml` updates
  .scala-steward.conf
Labels: series/0.23

#6234 Update scala-xml to 2.1.0 in series/0.22
  project/Http4sPlugin.scala
Labels: dependencies, series/0.22

#6238 Remove war example
  .github/workflows/ci.yml
  build.sbt
  examples/war/src/main/scala/com/example/http4s/war/Bootstrap.scala
  examples/war/src/main/webapp/WEB-INF/jetty-web.xml
  project/plugins.sbt
Labels: series/0.23

#6247 Deprecate PushSupport
  examples/src/main/resources/nasa_blackhole_image.jpg
  examples/src/main/scala/com/example/http4s/ExampleService.scala
  examples/src/main/twirl/com/example/http4s/index.scala.html
  server/src/main/scala/org/http4s/server/middleware/PushSupport.scala
  server/src/test/scala/org/http4s/server/MockRoute.scala
Labels: module:server, series/0.22

#6248 Use thread unsafe "lazy val"s to avoid deadlocks initializing MimeDB
  build.sbt
  core/shared/src/main/scala/org/http4s/MediaType.scala
  core/shared/src/main/scala/org/http4s/MimeDB.scala
  project/MimeLoader.scala
Labels: module:core, series/0.23

#6176 Add withContentLength and toStrict helpers to Message
  core/src/main/scala/org/http4s/Message.scala
  core/src/main/scala/org/http4s/headers/Transfer-Encoding.scala
  project/Http4sPlugin.scala
  server/src/main/scala/org/http4s/server/middleware/BodyCache.scala
Labels: module:core, module:server, series/0.22

#6250 Merge 0.23 -> main
  .github/workflows/ci.yml
  .scala-steward.conf
  .scalafmt.conf
  blaze-client/src/main/scala/org/http4s/blaze/client/Http1Connection.scala
  blaze-core/src/main/scala/org/http4s/blazecore/IdleTimeoutStage.scala
  build.sbt
  core/shared/src/main/scala/org/http4s/MediaType.scala
  core/shared/src/main/scala/org/http4s/MimeDB.scala
  docs/adopters.md
  docs/changelog.md
  docs/code-of-conduct.md
  docs/contributing.md
  docs/directory.conf
  docs/docs/auth.md
  docs/docs/client.md
  docs/docs/cors.md
  docs/docs/csrf.md
  docs/docs/deployment.md
  docs/docs/directory.conf
  docs/docs/dsl.md
  docs/docs/entity.md
  docs/docs/error-handling.md
  docs/docs/gzip.md
  docs/docs/hsts.md
  docs/docs/integrations.md
  docs/docs/json.md
  docs/docs/methods.md
  docs/docs/middleware.md
  docs/docs/quickstart.md
  docs/docs/service.md
  docs/docs/static.md
  docs/docs/streaming.md
  docs/docs/testing.md
  docs/docs/upgrading.md
  docs/docs/uri.md
  docs/further-reading.md
  docs/getting-help.md
  docs/laika/versionInfo.json
  docs/landing.template.html
  docs/styles/landing.page.css
  docs/versions.md
  examples/war/src/main/scala/com/example/http4s/war/Bootstrap.scala
  examples/war/src/main/webapp/WEB-INF/jetty-web.xml
  js-artifact-size-test/src/main/scala/Main.scala
  project/Http4sPlugin.scala
  project/Http4sSitePlugin.scala
  project/MimeLoader.scala
  project/plugins.sbt
  server/shared/src/test/scala/org/http4s/server/middleware/ChunkAggregatorSuite.scala
  site/src/test/resources/logback-test.xml
Labels: docs, module:core, module:blaze-client, module:server, module:blaze-core, behind-the-scenes

#6251 Update cats-effect, cats-effect-laws, ... to 3.3.11 in series/0.23
  project/Http4sPlugin.scala
Labels: dependencies, series/0.23

#6249 Remove synchronizations in `TestHead`, `QueueTestHead`, `SlowTestHead`
  blaze-core/src/test/scala/org/http4s/blazecore/TestHead.scala
Labels: module:blaze-core, series/0.22

#6253 Relax `authentication#challenged` constraints
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/package.scala
Labels: module:server

#6252 Use CE `Random.javaSecuritySecureRandom` instead of Java `SecureRandom`
  build.sbt
  server/jvm/src/main/scala/org/http4s/server/middleware/CSRF.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/Nonce.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/NonceF.scala
Labels: module:server, series/0.23

#5712 Covariant `Message`s: minimum viable PR
  blaze-server/src/test/scala/org/http4s/blaze/server/BlazeServerSuite.scala
  circe/src/test/scala/org/http4s/circe/CirceSensitiveDataEntityDecoderSpec.scala
  client/shared/src/main/scala/org/http4s/client/Client.scala
  core/shared/src/main/scala/org/http4s/Entity.scala
  core/shared/src/main/scala/org/http4s/Media.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/internal/Logger.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberUnixSocketSuite.scala
  examples/src/main/scala/com/example/http4s/ExampleService.scala
  server/shared/src/main/scala/org/http4s/server/Router.scala
  server/shared/src/main/scala/org/http4s/server/middleware/CORS.scala
  server/shared/src/test/scala/org/http4s/server/middleware/EntityLimiterSuite.scala
  tests/shared/src/test/scala/org/http4s/EntityDecoderSuite.scala
  tests/shared/src/test/scala/org/http4s/MessageSuite.scala
Labels: module:core, module:ember-server, module:client, module:server, module:blaze-server, module:circe

#6256 Update scalafmt-core to 3.5.1 in series/0.22
  .scalafmt.conf
Labels: dependencies, series/0.22

#6255 Move JS size-test-app to Test scope, fix flaky CI OOMs?
  build.sbt
  js-artifact-size-test/src/test/scala/Main.scala
Labels: series/0.23

#6254 Fix counting of current allocated connections in the blaze client pool manager
  blaze-client/src/main/scala/org/http4s/blaze/client/PoolManager.scala
Labels: module:blaze-client, series/0.22

#6258 Server - Chunk Aggregator Middleware: code and docs
  server/shared/src/main/scala/org/http4s/server/middleware/ChunkAggregator.scala
Labels: module:server, series/0.23

#6257 Message - remoteHost: define without OptionT.
  core/shared/src/main/scala/org/http4s/Message.scala
Labels: module:core

#6244 Server - JsonP Middleware - extract auxiliary function.
  server/shared/src/main/scala/org/http4s/server/middleware/Jsonp.scala
Labels: module:server, series/0.23

#6169 Improvements to multipart boundaries
  client/src/test/scala/org/http4s/client/ClientRouteTestBattery.scala
  core/src/main/scala/org/http4s/multipart/Boundary.scala
  core/src/main/scala/org/http4s/multipart/Multipart.scala
  core/src/main/scala/org/http4s/multipart/Multiparts.scala
  examples/blaze/src/main/scala/com/example/http4s/blaze/ClientMultipartPostExample.scala
  examples/blaze/src/main/scala/com/example/http4s/blaze/demo/client/MultipartClient.scala
  tests/src/test/scala/org/http4s/multipart/MultipartSuite.scala
  tests/src/test/scala/org/http4s/multipart/MultipartsSuite.scala
Labels: module:core, module:client, series/0.22

#6265 Move `SegmentEncoderSuite` to correct location
  tests/shared/src/test/scala/org/http4s/SegmentEncoderSuite.scala
Labels: series/0.23, behind-the-scenes

#6259 Avoid Alternative-Guard
  core/shared/src/main/scala/org/http4s/Header.scala
  examples/ember-server-h2/src/main/scala/com/example/http4s/ember/EmberServerH2Example.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
Labels: module:core, module:server, series/0.23

#6260 Update sbt-scalafix, scalafix-core, ... to 0.10.0 in series/0.22
  build.sbt
  project/plugins.sbt
  scalafix/project/plugins.sbt
Labels: dependencies, series/0.22

#6270 Update Java-WebSocket to 1.5.3 in series/0.22
  project/Http4sPlugin.scala
Labels: dependencies, series/0.22

#6275 Ignore `java-websocket` updates
  .scala-steward.conf
Labels: series/0.23

#6279 Fix deprecated since versions
  core/src/main/scala/org/http4s/multipart/Boundary.scala
  core/src/main/scala/org/http4s/multipart/Multipart.scala
Labels: module:core, series/0.22, behind-the-scenes

#6278 Merge `series/0.22` into `series/0.23`
  .scalafmt.conf
  blaze-client/src/main/scala/org/http4s/blaze/client/PoolManager.scala
  blaze-core/src/test/scala/org/http4s/blazecore/TestHead.scala
  build.sbt
  client/shared/src/test/scala/org/http4s/client/ClientRouteTestBattery.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/headers/Transfer-Encoding.scala
  core/shared/src/main/scala/org/http4s/multipart/Boundary.scala
  core/shared/src/main/scala/org/http4s/multipart/Multipart.scala
  core/shared/src/main/scala/org/http4s/multipart/Multiparts.scala
  examples/blaze/src/main/scala/com/example/http4s/blaze/ClientMultipartPostExample.scala
  examples/blaze/src/main/scala/com/example/http4s/blaze/demo/client/MultipartClient.scala
  examples/src/main/resources/nasa_blackhole_image.jpg
  examples/src/main/scala/com/example/http4s/ExampleService.scala
  examples/src/main/twirl/com/example/http4s/index.scala.html
  project/Http4sPlugin.scala
  project/plugins.sbt
  scalafix/project/plugins.sbt
  server/shared/src/main/scala/org/http4s/server/middleware/BodyCache.scala
  server/shared/src/main/scala/org/http4s/server/middleware/PushSupport.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeper.scala
  server/shared/src/test/scala/org/http4s/server/MockRoute.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartSuite.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartsSuite.scala
Labels: module:core, module:blaze-client, module:client, module:server, module:blaze-core, series/0.23, behind-the-scenes

#6280 Tweak badges in the readme
  README.md
Labels: docs, series/0.23

#6284 Remove ignoring some files for `doctest`
  project/Http4sPlugin.scala
Labels: series/0.22, behind-the-scenes

#6287 Update sbt-http4s-org to 0.13.2 in series/0.22
  build.sbt
  project/plugins.sbt
Labels: dependencies, series/0.22

#6288 Tweak `Message#withEmptyBody`
  core/shared/src/main/scala/org/http4s/Message.scala
Labels: module:core

#6282 Merge `series/0.23` into `main`
  .scala-steward.conf
  .scalafmt.conf
  README.md
  blaze-client/src/main/scala/org/http4s/blaze/client/PoolManager.scala
  blaze-core/src/test/scala/org/http4s/blazecore/TestHead.scala
  build.sbt
  client/shared/src/test/scala/org/http4s/client/ClientRouteTestBattery.scala
  core/shared/src/main/scala/org/http4s/Header.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/headers/Transfer-Encoding.scala
  core/shared/src/main/scala/org/http4s/multipart/Boundary.scala
  core/shared/src/main/scala/org/http4s/multipart/Multipart.scala
  core/shared/src/main/scala/org/http4s/multipart/Multiparts.scala
  examples/blaze/src/main/scala/com/example/http4s/blaze/ClientMultipartPostExample.scala
  examples/blaze/src/main/scala/com/example/http4s/blaze/demo/client/MultipartClient.scala
  examples/ember-server-h2/src/main/scala/com/example/http4s/ember/EmberServerH2Example.scala
  examples/src/main/resources/nasa_blackhole_image.jpg
  examples/src/main/scala/com/example/http4s/ExampleService.scala
  examples/src/main/twirl/com/example/http4s/index.scala.html
  js-artifact-size-test/src/test/scala/Main.scala
  project/Http4sPlugin.scala
  project/plugins.sbt
  scalafix/project/plugins.sbt
  server/jvm/src/main/scala/org/http4s/server/middleware/CSRF.scala
  server/shared/src/main/scala/org/http4s/server/middleware/BodyCache.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ChunkAggregator.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Jsonp.scala
  server/shared/src/main/scala/org/http4s/server/middleware/PushSupport.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/Nonce.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/NonceF.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeper.scala
  server/shared/src/test/scala/org/http4s/server/MockRoute.scala
  tests/shared/src/test/scala/org/http4s/SegmentEncoderSuite.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartSuite.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartsSuite.scala
Labels: module:core, module:blaze-client, module:client, module:server, module:blaze-core, behind-the-scenes

#6245 Update sbt-scalajs, scalajs-compiler, ... to 1.10.0 in series/0.23
  project/plugins.sbt
  server/shared/src/main/scala/org/http4s/server/middleware/RequestId.scala
Labels: module:server, dependencies, series/0.23

#6240 Spin off servlet, jetty-server, and tomcat modules
  .github/workflows/ci.yml
  .scala-steward.conf
  build.sbt
  examples/tomcat/src/main/scala/com/example/http4s/tomcat/NoneShallPass.scala
  examples/tomcat/src/main/scala/com/example/http4s/tomcat/TomcatExample.scala
  examples/tomcat/src/main/scala/com/example/http4s/tomcat/TomcatSslExample.scala
  project/Http4sPlugin.scala
  tomcat-server/src/main/scala/org/http4s/tomcat/server/TomcatBuilder.scala
  tomcat-server/src/test/scala/org/http4s/tomcat/server/TomcatServerSuite.scala
Labels: series/0.23

#6295 Remove deprecated blaze `SSLContextFactory`
  blaze-server/src/main/scala/org/http4s/blaze/server/SSLContextFactory.scala
Labels: module:blaze-server

#6292 Update netty-buffer, netty-codec-http to 4.1.76.Final in series/0.22
  project/Http4sPlugin.scala
Labels: dependencies, series/0.22

#6289 Tweak `BodyCache#hasNoBody`
  server/shared/src/main/scala/org/http4s/server/middleware/BodyCache.scala
Labels: module:server

#6264 Update scalacheck to 1.16.0 in series/0.23
  project/Http4sPlugin.scala
Labels: dependencies, series/0.23

#6296 Remove `http4s.EmptyBody`
  blaze-server/src/main/scala/org/http4s/blaze/server/Http2NodeStage.scala
  client/shared/src/test/scala/org/http4s/client/middleware/RetrySuite.scala
  core/shared/src/main/scala/org/http4s/package.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  server/shared/src/test/scala/org/http4s/server/middleware/ChunkAggregatorSuite.scala
Labels: module:core, module:client, module:server, module:blaze-server, module:ember-core

#6299 Message - Use Strict Entity for string responses
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/multipart/Part.scala
Labels: module:core

#6303 Update discipline-core to 1.5.1 in series/0.23
  project/Http4sPlugin.scala
Labels: dependencies, series/0.23

#6230 Reduce use of `covary` method.
  client/shared/src/test/scala/org/http4s/client/ClientRouteTestBattery.scala
  client/shared/src/test/scala/org/http4s/client/testroutes/GetRoutes.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  examples/ember-server-h2/src/main/scala/com/example/http4s/ember/EmberServerH2Example.scala
  server/jvm/src/test/scala/org/http4s/server/middleware/GZipSuite.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartSuite.scala
Labels: module:core, module:ember-server, module:client, module:server, module:blaze-server, module:ember-core, module:circe

#6307 Fix `SelectOpsMultiple#renderString`
  core/src/main/scala/org/http4s/syntax/HeaderSyntax.scala
Labels: module:core, series/0.22

#6310 Merge `series/0.22` into `series/0.23`
  build.sbt
  core/shared/src/main/scala/org/http4s/syntax/HeaderSyntax.scala
  project/Http4sPlugin.scala
  project/plugins.sbt
Labels: module:core, series/0.23, behind-the-scenes

#6306 Use Strict entities where possible
  examples/ember/src/main/scala/com/example/http4s/ember/EmberClientSimpleExample.scala
  server/shared/src/main/scala/org/http4s/server/staticcontent/MemoryCache.scala
  tests/shared/src/test/scala/org/http4s/EntityDecoderSuite.scala
Labels: module:server

#6304 Make Part and Multipart covariant
  core/shared/src/main/scala/org/http4s/multipart/Multipart.scala
  core/shared/src/main/scala/org/http4s/multipart/Part.scala
  examples/blaze/src/main/scala/com/example/http4s/blaze/ClientMultipartPostExample.scala
  examples/blaze/src/main/scala/com/example/http4s/blaze/demo/client/MultipartClient.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartSuite.scala
Labels: module:core, module:ember-server, module:client, module:server, module:ember-core

#6311 Merge `series/0.23` into `main`
  .github/workflows/ci.yml
  .scala-steward.conf
  build.sbt
  core/shared/src/main/scala/org/http4s/syntax/HeaderSyntax.scala
  examples/tomcat/src/main/scala/com/example/http4s/tomcat/NoneShallPass.scala
  examples/tomcat/src/main/scala/com/example/http4s/tomcat/TomcatExample.scala
  examples/tomcat/src/main/scala/com/example/http4s/tomcat/TomcatSslExample.scala
  project/Http4sPlugin.scala
  project/plugins.sbt
  server/shared/src/main/scala/org/http4s/server/middleware/RequestId.scala
  tomcat-server/src/main/scala/org/http4s/tomcat/server/TomcatBuilder.scala
  tomcat-server/src/test/scala/org/http4s/tomcat/server/TomcatServerSuite.scala
Labels: module:core, module:server, behind-the-scenes

#6300 Tweak unused args suppressing
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeHttp1ClientParser.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/BlazeServerBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
Labels: module:blaze-client, module:ember-server, module:server, module:blaze-server, series/0.23

#6313 Clarify connection lifecycle
  client/src/main/scala/org/http4s/client/Client.scala
Labels: module:client, series/0.22

#6285 Move `withContentLength` from Message to Headers
  core/shared/src/main/scala/org/http4s/Headers.scala
  core/shared/src/main/scala/org/http4s/Message.scala
Labels: module:core, series/0.23

#6318 Update scalafmt-core to 3.5.2 in series/0.22
  .scalafmt.conf
Labels: dependencies, series/0.22

#6322 Update fs2-core, fs2-io, ... to 2.5.11 in series/0.22
  project/Http4sPlugin.scala
Labels: dependencies, series/0.22

#6324 Address the entity model in the `DefaultHead`
  server/shared/src/main/scala/org/http4s/server/middleware/DefaultHead.scala
Labels: module:server

#6325 Address the entity model in the `Client#fromHttpApp`
  client/shared/src/main/scala/org/http4s/client/Client.scala
Labels: module:client

#6332 Roll back the #6254
  blaze-client/src/main/scala/org/http4s/blaze/client/PoolManager.scala
Labels: module:blaze-client, series/0.22

#6333 Remove update ignorings in Scala Steward conf for the 0.23
  .scala-steward.conf
Labels: series/0.23

#6334 Mark the 0.22 version as EOL at the website
  docs/versions.md
  project/Http4sSitePlugin.scala
Labels: docs, series/0.23

#6338 Tweak the contributing guide
  docs/contributing.md
Labels: docs, series/0.23

#6345 Update scalacheck-effect, ... to 1.0.4 in series/0.23
  project/Http4sPlugin.scala
Labels: dependencies, series/0.23

#6330 Update scodec-bits to 1.1.31 in series/0.23
  project/Http4sPlugin.scala
Labels: dependencies, series/0.23

#6348 Merge `0.23` -> `main`
  .scalafmt.conf
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeHttp1ClientParser.scala
  blaze-client/src/main/scala/org/http4s/blaze/client/PoolManager.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/BlazeServerBuilder.scala
  client/shared/src/main/scala/org/http4s/client/Client.scala
  core/shared/src/main/scala/org/http4s/Headers.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  docs/contributing.md
  docs/versions.md
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  project/Http4sPlugin.scala
  project/Http4sSitePlugin.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
Labels: docs, module:core, module:blaze-client, module:ember-server, module:client, module:server, module:blaze-server, behind-the-scenes
