Repository http4s/http4s, pull requests merged in 2023-12, with the labels that each got.

#7329 Align the server and client idle timeouts in Ember
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Defaults.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Labels: module:ember-client, module:ember-server, module:ember-core, series/0.23

#7340 Push error handling docs through mdoc
  docs/docs/error-handling.md
Labels: docs, series/0.23

#7334 Fix handling of connection closure in `WSTestClient`
  client-testkit/shared/src/main/scala/org/http4s/client/testkit/WSTestClient.scala
  client-testkit/shared/src/test/scala/org/http4s/client/testkit/WSTestClientSuite.scala
Labels: series/0.23
