Repository http4s/http4s, pull requests merged in 2023-10, with the labels that each got.

#7292 Model Content-Transfer-Encoding header
  core/shared/src/main/scala/org/http4s/headers/Content-Transfer-Encoding.scala
  core/shared/src/main/scala/org/http4s/multipart/Part.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/shared/src/test/scala/org/http4s/headers/ContentTransferEncodingSuite.scala
Labels: module:core, module:laws, series/0.23

#7290 Update to sbt-typelevel `0.6.0` with Laika `1.0.0`
  .github/workflows/ci.yml
  docs/landing.template.html
  project/Http4sSitePlugin.scala
  project/plugins.sbt
Labels: docs, series/0.23

#7238 Add asCurlWithBody
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/internal/CurlConverter.scala
  core/shared/src/main/scala/org/http4s/internal/PosixQuoting.scala
  tests/shared/src/test/scala/org/http4s/MessageSuite.scala
Labels: module:core, series/0.23
