Repository http4s/http4s, pull requests merged in 2023-03, with the labels that each got.

#6957 Take account of `Entity` model in `BracketRequestResponse` Middleware
  server/shared/src/main/scala/org/http4s/server/middleware/BracketRequestResponse.scala
  server/shared/src/test/scala/org/http4s/server/middleware/BracketRequestResponseSuite.scala
Labels: module:server

#7011 Update nix and cachix actions
  .github/workflows/ci.yml
  build.sbt
Labels: series/0.23, behind-the-scenes

#7008 Handle EndOfStream error in Ember WebSocket server
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Labels: module:ember-server, series/0.23

#6990 Add ability to disable SNI in Ember
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-core/js/src/main/scala/org/http4s/ember/core/UtilPlatform.scala
  ember-core/jvm/src/main/scala/org/http4s/ember/core/UtilPlatform.scala
  ember-core/native/src/main/scala/org/http4s/ember/core/UtilPlatform.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Labels: module:ember-client, module:ember-core, series/0.23

#6980 Detect terminated `EmberConnection`s in ember client prior to attempting a request
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberConnection.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-client/shared/src/test/scala/org/http4s/ember/client/internal/ClientHelpersSuite.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Util.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Labels: module:ember-client, module:ember-server, module:ember-core, series/0.23

#7016 Redirect `H2Connection.writeLoop` errors to logger
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Labels: module:ember-core, series/0.23

#6934 Special Case Error Handler For Unparsable Request Line
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/ConnectionSuite.scala
Labels: module:ember-server, series/0.23

#7024 Release v0.23.19-RC3
  docs/changelog.md
Labels: docs, series/0.23, behind-the-scenes

#7026 Fix typo on the quickstart page
  docs/docs/quickstart.md
Labels: docs, series/0.23

#7027 Don't upload test artifacts
  .github/workflows/ci.yml
  build.sbt
Labels: series/0.23, behind-the-scenes

#7025 Merge `series/0.23` into `main`
  .github/workflows/ci.yml
  .scalafmt.conf
  build.sbt
  circe/src/test/scala/org/http4s/circe/CirceSensitiveDataEntityDecoderSpec.scala
  client/jvm/src/main/scala/org/http4s/client/JavaNetClientBuilder.scala
  client/shared/src/main/scala/org/http4s/client/middleware/RequestLogger.scala
  client/shared/src/main/scala/org/http4s/client/middleware/ResponseLogger.scala
  core/shared/src/main/scala/org/http4s/EntityDecoder.scala
  core/shared/src/main/scala/org/http4s/HttpDate.scala
  core/shared/src/main/scala/org/http4s/headers/Deprecation.scala
  core/shared/src/main/scala/org/http4s/headers/Sunset.scala
  core/shared/src/main/scala/org/http4s/internal/package.scala
  core/shared/src/main/scala/org/http4s/metrics/MetricsOps.scala
  docs/changelog.md
  docs/docs/quickstart.md
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberConnection.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-client/shared/src/test/scala/org/http4s/ember/client/internal/ClientHelpersSuite.scala
  ember-core/js/src/main/scala/org/http4s/ember/core/UtilPlatform.scala
  ember-core/jvm/src/main/scala/org/http4s/ember/core/UtilPlatform.scala
  ember-core/native/src/main/scala/org/http4s/ember/core/UtilPlatform.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Util.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/ConnectionSuite.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
  flake.lock
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  project/Http4sPlugin.scala
  project/build.sbt
  project/plugins.sbt
  server/shared/src/main/scala/org/http4s/server/middleware/CSRF.scala
  tests/shared/src/test/scala/org/http4s/headers/DeprecationSuite.scala
  tests/shared/src/test/scala/org/http4s/headers/SunsetSuite.scala
  tests/shared/src/test/scala/org/http4s/metrics/MetricsOpsSpec.scala
Labels: docs, module:core, module:ember-client, module:ember-server, module:client, module:server, module:ember-core, module:circe, module:laws, behind-the-scenes

#6981 Add X-Content-Type-Options header
  core/shared/src/main/scala/org/http4s/headers/X-Content-Type-Options.scala
  tests/shared/src/test/scala/org/http4s/headers/XContentTypeOptionsSuite.scala
Labels: module:core, series/0.23

#6992 Middleware documentation
  docs/docs/middleware.md
  docs/docs/server-middleware.md
  server/shared/src/main/scala/org/http4s/server/middleware/HttpMethodOverrider.scala
  server/shared/src/main/scala/org/http4s/server/middleware/UrlFormLifter.scala
Labels: docs, module:server, series/0.23

#7020 Fix `Client.fromHttpApp` does not drain bodies
  client/shared/src/main/scala/org/http4s/client/Client.scala
  client/shared/src/test/scala/org/http4s/client/ClientSuite.scala
  docs/docs/server-middleware.md
Labels: docs, module:client, series/0.23
