Repository http4s/http4s, pull requests merged in 2023-07, with the labels that each got.

#7204 Disable Ember server TLS logging more aggressively
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Labels: module:ember-server, series/0.23

#7154 Some micro-optimisations in `ember-core`
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Labels: module:ember-core, series/0.23

#7211 Merge `v0.23.22` into `main`
  core/shared/src/main/scala/org/http4s/QueryOps.scala
  docs/changelog.md
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/PseudoHeaders.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/PsuedoHeadersSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  flake.lock
  project/Http4sPlugin.scala
  project/build.properties
  project/plugins.sbt
  tests/shared/src/test/scala/org/http4s/DecodeSpec.scala
  tests/shared/src/test/scala/org/http4s/UriSuite.scala
Labels: docs, module:core, module:ember-client, module:ember-server, module:ember-core, behind-the-scenes

#7212 Release v1.0.0-M40
  docs/changelog.md
Labels: docs, behind-the-scenes

#7214 WebSocketHelpers.scala - Use Chunks
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Labels: module:ember-server, series/0.23

#7160 expose cookies in the CookieJar middleware
  client/shared/src/main/scala/org/http4s/client/middleware/CookieJar.scala
Labels: module:client

#7207 Improve error messages for MissingHost and MissingPort
  build.sbt
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Labels: module:ember-client, series/0.23

#7219 Release v0.23.23
  docs/changelog.md
Labels: docs, series/0.23, behind-the-scenes
