Repository http4s/http4s, pull requests merged in 2023-02, with the labels that each got.

#6944 Phase out the client DSL in the docs
  docs/docs/client.md
  docs/docs/dsl.md
  docs/docs/json.md
Labels: docs, series/0.23

#6955 Fix misleading `EntityBody` mentions in some scaladocs
  core/shared/src/main/scala/org/http4s/EntityDecoder.scala
  core/shared/src/main/scala/org/http4s/Message.scala
Labels: docs, module:core

#6968 Revert "Update circe-core, circe-generic, ... to 0.14.4 in series/0.23"
  circe/src/test/scala/org/http4s/circe/CirceSensitiveDataEntityDecoderSpec.scala
  project/Http4sPlugin.scala
  project/build.sbt
Labels: module:circe, series/0.23

#6970 Merge `series/0.23` into `main`
  .git-blame-ignore-revs
  .github/workflows/ci.yml
  .scalafmt.conf
  client/shared/src/test/scala/org/http4s/client/ClientSuite.scala
  core/js-native/src/main/scala/org/http4s/CharsetPlatform.scala
  core/jvm/src/main/scala/org/http4s/CharsetPlatform.scala
  core/shared/src/main/scala/org/http4s/Charset.scala
  core/shared/src/main/scala/org/http4s/Header.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  docs/changelog.md
  docs/docs/client.md
  docs/docs/dsl.md
  docs/docs/json.md
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
  flake.lock
  project/Http4sPlugin.scala
  project/build.sbt
  project/plugins.sbt
  server/shared/src/test/scala/org/http4s/server/middleware/BracketRequestResponseSuite.scala
  tests/shared/src/test/scala/org/http4s/UriSpec.scala
Labels: docs, module:core, module:ember-server, module:client, module:server, behind-the-scenes

#6963 Add section with sbt dependencies to quickstart
  docs/docs/quickstart.md
Labels: docs, series/0.23

#6976 Tweak `MetricsOps#classifierFMethodWithOptionallyExcludedPath`
  core/shared/src/main/scala/org/http4s/metrics/MetricsOps.scala
  tests/shared/src/test/scala/org/http4s/metrics/MetricsOpsSpec.scala
Labels: module:core, series/0.23

#6982 Allow to customize flags for file decoders
  core/shared/src/main/scala/org/http4s/EntityDecoder.scala
Labels: module:core, series/0.23

#6986 Release v0.23.19-RC1
  client/shared/src/main/scala/org/http4s/client/middleware/RequestLogger.scala
  client/shared/src/main/scala/org/http4s/client/middleware/ResponseLogger.scala
  docs/changelog.md
  project/Http4sPlugin.scala
Labels: docs, module:client, series/0.23

#6937 More comprehensive support of `Entity` model in `Jsonp` Middleware
  server/shared/src/main/scala/org/http4s/server/middleware/Jsonp.scala
Labels: module:server

#6996 `JavaNetClient` does not need `Async`
  build.sbt
  client/jvm/src/main/scala/org/http4s/client/JavaNetClientBuilder.scala
Labels: module:client, series/0.23

#6984 Use `ByteVector#toHex` in `CSRF` Middleware
  bench/src/main/scala/org/http4s/bench/EncodeHexBench.scala
  core/shared/src/main/scala/org/http4s/internal/package.scala
  server/jvm/src/main/scala/org/http4s/server/middleware/CSRF.scala
Labels: module:core, module:server, series/0.23

#7001 Fix link to edit `adopters.md`
  docs/adopters.md
Labels: docs, module:core, module:client, module:server, series/0.23

#6977 Clarify module choices in quickstart docs
  docs/docs/quickstart.md
Labels: docs, series/0.23

#7002 Use `ByteVector#fromHex` in `CSRF` Middleware
  core/shared/src/main/scala/org/http4s/internal/package.scala
  server/jvm/src/main/scala/org/http4s/server/middleware/CSRF.scala
Labels: module:core, module:server, series/0.23

#7006 Release v0.23.19-RC2
  docs/changelog.md
Labels: docs, series/0.23

#6991 Add Deprecation and Sunset Headers
  core/shared/src/main/scala/org/http4s/HttpDate.scala
  core/shared/src/main/scala/org/http4s/headers/Deprecation.scala
  core/shared/src/main/scala/org/http4s/headers/Sunset.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/shared/src/test/scala/org/http4s/headers/DeprecationSuite.scala
  tests/shared/src/test/scala/org/http4s/headers/SunsetSuite.scala
Labels: module:core, module:laws, series/0.23
