Repository http4s/http4s, pull requests merged in 2023-11, with the labels that each got.

#7312 Update request cookie parser to handle zero or more spaces between semicolons
  core/shared/src/main/scala/org/http4s/headers/Cookie.scala
  tests/shared/src/test/scala/org/http4s/parser/CookieHeaderSuite.scala
Labels: module:core, series/0.23

#7230 Ember-Core: Use optimised fs2 method in write Loop.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Labels: module:ember-core, series/0.23

#7228 More efficient working with headers
  core/shared/src/main/scala/org/http4s/Header.scala
Labels: module:core, series/0.23

#7058 Add client middleware documentation
  build.sbt
  docs/docs/client-middleware.md
  docs/docs/directory.conf
Labels: docs, series/0.23

#7265 Fix #7262: mulitpart decoder wrapping unwanted errors
  core/shared/src/main/scala/org/http4s/multipart/MultipartDecoder.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartSuite.scala
Labels: module:core, series/0.23

#7234 Add warning logs for misconfigured timeouts
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
Labels: module:ember-client, series/0.23

#7321 Release v0.23.24
  docs/changelog.md
Labels: docs, series/0.23, behind-the-scenes

#7322 Add note about cats-parse to 0.23.24 changelog
  docs/changelog.md
Labels: docs, series/0.23
