Repository http4s/http4s, pull requests merged in 2023-09, with the labels that each got.

#7264 Fix handling of streaming bodies in entity limiter
  server/shared/src/main/scala/org/http4s/server/middleware/EntityLimiter.scala
  server/shared/src/test/scala/org/http4s/server/middleware/EntityLimiterSuite.scala
Labels: module:server, series/0.23

#7278 Avoid linking MimeDB in Scala Native
  core/shared/src/main/scala/org/http4s/MediaType.scala
Labels: module:core, series/0.23

#7285 Deprecate Jsonp Middleware
  docs/docs/server-middleware.md
  server/shared/src/main/scala/org/http4s/server/middleware/Jsonp.scala
Labels: docs, module:server, series/0.23

#7286 Delete Jsonp middleware
  docs/docs/middleware.md
  docs/docs/server-middleware.md
  server/shared/src/main/scala/org/http4s/server/middleware/Jsonp.scala
Labels: docs, module:server

#7284 Fixes #7283: make BasicCredentials constructor safe
  core/shared/src/main/scala/org/http4s/Credentials.scala
Labels: module:core, series/0.23
