Repository http4s/http4s, pull requests merged in 2023-04, with the labels that each got.

#7042 Tweak `build.sbt`
  build.sbt
Labels: series/0.23

#7045 Fix a broken link to JDKHttpClient in the docs
  docs/docs/integrations.md
Labels: docs, series/0.23

#7048 Ignore crossproject updates on main
  .scala-steward.conf
Labels: behind-the-scenes

#7037 Fix base64 parser for http headers Web-Socket-Key and Web-Socket-Accept
  core/shared/src/main/scala/org/http4s/headers/Sec-WebSocket-Accept.scala
  core/shared/src/main/scala/org/http4s/headers/Sec-WebSocket-Key.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/Rfc4648.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/shared/src/test/scala/org/http4s/headers/SecWebSocketAcceptSuite.scala
  tests/shared/src/test/scala/org/http4s/headers/SecWebSocketKeySuite.scala
Labels: module:core, module:laws, series/0.23

#7052 Ignore sbt-revolver updates on main
  .scala-steward.conf
Labels: behind-the-scenes

#7039 Support ember http/2 over unix sockets
  build.sbt
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-server/js-jvm/src/test/scala/org/http4s/ember/server/EmberUnixSocketSuite.scala
Labels: module:ember-client, module:ember-server, module:ember-core, series/0.23

#7055 Add application/graphql media type
  core/shared/src/main/scala/org/http4s/MediaType.scala
Labels: module:core, series/0.23

#6864 Tweak performance of `QueryOps#withQueryParam`
  bench/src/main/scala/org/http4s/bench/QueryBench.scala
  core/shared/src/main/scala/org/http4s/QueryOps.scala
Labels: module:core

#6953 Document ErrorAction middleware
  docs/docs/error-handling.md
Labels: docs, series/0.23

#6305 Deprecate Entity Apply
  circe/src/test/scala/org/http4s/circe/CirceSuite.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/RoutesToNettyAdapter.scala
  client/jvm/src/main/scala/org/http4s/client/JavaNetClientBuilder.scala
  client/shared/src/main/scala/org/http4s/client/Client.scala
  client/shared/src/main/scala/org/http4s/client/middleware/RequestLogger.scala
  client/shared/src/main/scala/org/http4s/client/middleware/ResponseLogger.scala
  core/js/src/main/scala/org/http4s/nodejs/IncomingMessage.scala
  core/shared/src/main/scala/org/http4s/Entity.scala
  core/shared/src/main/scala/org/http4s/EntityDecoder.scala
  core/shared/src/main/scala/org/http4s/EntityEncoder.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/StaticFile.scala
  core/shared/src/main/scala/org/http4s/internal/Logger.scala
  core/shared/src/main/scala/org/http4s/multipart/MultipartEncoder.scala
  core/shared/src/main/scala/org/http4s/multipart/MultipartParser.scala
  core/shared/src/main/scala/org/http4s/multipart/Part.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClient.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/EncoderSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  server/shared/src/main/scala/org/http4s/server/middleware/BodyCache.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ChunkAggregator.scala
  server/shared/src/main/scala/org/http4s/server/middleware/DefaultHead.scala
  server/shared/src/main/scala/org/http4s/server/middleware/EntityLimiter.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Jsonp.scala
  server/shared/src/main/scala/org/http4s/server/middleware/RequestLogger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
  server/shared/src/test/scala/org/http4s/server/middleware/EntityLimiterSuite.scala
  tests/shared/src/test/scala/org/http4s/MessageSuite.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartSuite.scala
Labels: module:core, module:ember-client, module:ember-server, module:client, module:server, module:ember-core, module:circe, module:laws

#7063 Fix semantic merge conflicts following #6305
  server/shared/src/main/scala/org/http4s/server/middleware/BracketRequestResponse.scala
  server/shared/src/test/scala/org/http4s/server/middleware/BracketRequestResponseSuite.scala
Labels: module:server, behind-the-scenes

#6724 Adopt scala-native-config-brew
  build.sbt
  project/plugins.sbt
Labels: series/0.23, behind-the-scenes

#7067 Fix `Entity` docs
  docs/docs/entity.md
Labels: docs

#7069 Ember-Core H2Connection: extract "WriteChunk" auxiliary function.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Labels: module:ember-core, series/0.23

#7083 Tweak the `Router#translate`
  server/shared/src/main/scala/org/http4s/server/Router.scala
Labels: module:server, series/0.23, performance-tweak

#7086 `Hpack` optimizations
  build.sbt
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/Hpack.scala
Labels: module:ember-core, series/0.23

#7075 Ember-Core H2Stream - Extract "cancelWith" method.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Labels: module:ember-core, series/0.23
