Repository http4s/http4s, pull requests merged in 2023-05, with the labels that each got.

#7070 Ember-Core State - Extract factory method
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Labels: module:ember-core, series/0.23

#7079 Ember-Core / H2Stream / sendData: for-comp is not tail-recursive.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Labels: module:ember-core, series/0.23

#7053 add WSTestClient builder from HttpApp
  build.sbt
  client-testkit/shared/src/main/scala/org/http4s/client/testkit/WSTestClient.scala
  client-testkit/shared/src/test/scala/org/http4s/client/testkit/WSTestClientSuite.scala
  core/shared/src/main/scala/org/http4s/websocket/WebSocketContext.scala
  core/shared/src/main/scala/org/http4s/websocket/WebSocketFrame.scala
Labels: module:core, series/0.23

#7107 Update adopters.md
  docs/adopters.md
Labels: docs

#7064 Fix resolving of root / URIs
  core/shared/src/main/scala/org/http4s/Uri.scala
  tests/shared/src/test/scala/org/http4s/UriSpec.scala
  tests/shared/src/test/scala/org/http4s/UriSuite.scala
Labels: module:core, series/0.23

#7096 Use `Channel` for H2 `readBuffer`
  build.sbt
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Labels: module:ember-core, series/0.23

#6756 Encode trailer headers in Ember
  ember-core/shared/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/EncoderSuite.scala
Labels: module:ember-core, series/0.23

#7113 Release v0.23.19
  docs/changelog.md
Labels: docs, series/0.23, behind-the-scenes

#7114 Fix release date
  docs/changelog.md
Labels: docs, series/0.23, behind-the-scenes

#7118 fixes Wrong link in "Server Middleware" page in the docs #7117
  docs/docs/server-middleware.md
Labels: docs, series/0.23

#7120 Added more examples to the doc ( shortcut to create Responses)
  docs/docs/dsl.md
Labels: docs, series/0.23

#7123 Add missing constructors to ContextRoutes
  core/shared/src/main/scala/org/http4s/ContextRoutes.scala
Labels: module:core, series/0.23
