Repository http4s/http4s, pull requests merged in 2023-06, with the labels that each got.

#7122 Expunge all unsafe logging [resolve conflicts]
  build.sbt
  circe/src/main/scala/org/http4s/circe/middleware/JsonDebugErrorHandler.scala
  client-testkit/js-jvm/src/main/scala/org/http4s/client/testkit/ClientRouteTestBattery.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/HandlersToNettyAdapter.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/NettyTestServer.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/ServerScaffold.scala
  client/shared/src/main/scala/org/http4s/client/middleware/Logger.scala
  client/shared/src/main/scala/org/http4s/client/middleware/RequestLogger.scala
  client/shared/src/main/scala/org/http4s/client/middleware/ResponseLogger.scala
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
  core/js-jvm/src/main/scala/org/http4s/internal/InternalPlatform.scala
  core/js/src/main/scala/org/http4s/Platform.scala
  core/jvm/src/main/scala/org/http4s/Platform.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/StaticFile.scala
  core/shared/src/main/scala/org/http4s/internal/package.scala
  docs/docs/client.md
  docs/docs/cors.md
  docs/docs/gzip.md
  docs/docs/json.md
  docs/docs/service.md
  docs/docs/static.md
  docs/docs/streaming.md
  ember-client/js-jvm/src/test/scala/org/http4s/ember/client/EmberClientSuite.scala
  ember-client/js/src/main/scala/org/http4s/ember/client/EmberClientBuilderPlatform.scala
  ember-client/jvm/src/main/scala/org/http4s/ember/client/EmberClientBuilderCompanionPlatform.scala
  ember-client/jvm/src/main/scala/org/http4s/ember/client/EmberClientBuilderPlatform.scala
  ember-client/native/src/main/scala/org/http4s/ember/client/EmberClientBuilderPlatform.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-server/jvm/src/main/scala/org/http4s/ember/server/EmberServerBuilderPlatform.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  examples/docker/src/main/scala/com/example/http4s/Example.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberClientH2Example.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberClientSimpleExample.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberServerH2Example.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberServerSimpleExample.scala
  project/Http4sPlugin.scala
  server/jvm/src/test/scala/org/http4s/server/staticcontent/ResourceServiceSuite.scala
  server/shared/src/main/scala/org/http4s/server/Server.scala
  server/shared/src/main/scala/org/http4s/server/middleware/CORS.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ErrorHandling.scala
  server/shared/src/main/scala/org/http4s/server/middleware/GZip.scala
  server/shared/src/main/scala/org/http4s/server/middleware/HttpsRedirect.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Jsonp.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/PushSupport.scala
  server/shared/src/main/scala/org/http4s/server/middleware/RequestLogger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
  server/shared/src/main/scala/org/http4s/server/package.scala
  server/shared/src/main/scala/org/http4s/server/staticcontent/FileService.scala
  server/shared/src/main/scala/org/http4s/server/staticcontent/MemoryCache.scala
  server/shared/src/main/scala/org/http4s/server/staticcontent/ResourceService.scala
  server/shared/src/main/scala/org/http4s/server/staticcontent/package.scala
  server/shared/src/test/scala/org/http4s/server/middleware/CORSSuite.scala
  tests/shared/src/main/scala/org/http4s/Http4sSuite.scala
Labels: docs, module:core, module:ember-client, module:ember-server, module:client, module:server, module:circe

#7129 Add `Upgrade-Insecure-Requests` header model
  core/shared/src/main/scala/org/http4s/headers/Upgrade-Insecure-Requests.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/shared/src/test/scala/org/http4s/headers/UpgradeInsecureRequestsSuite.scala
Labels: module:core, module:laws, series/0.23

#7091 Add handling for fragmented frames in WebSockets
  core/shared/src/main/scala/org/http4s/websocket/WebSocketFrameDefragmenter.scala
  server/shared/src/main/scala/org/http4s/server/websocket/WebSocketBuilder2.scala
  tests/shared/src/test/scala/org/http4s/websocket/WebSocketFrameDefragmenterSuite.scala
Labels: module:core, module:ember-server, module:server, series/0.23

#7148 Rectify `Client#fromHttpApp`
  client/shared/src/main/scala/org/http4s/client/Client.scala
Labels: module:client

#7151 Update Jack Henry - adopters.md
  docs/adopters.md
Labels: docs, series/0.23

#7150 Release v0.23.20
  docs/changelog.md
Labels: docs, series/0.23

#7156 Close H2 `readBuffer` on `headers.endStream`
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Labels: module:ember-core, series/0.23

#7162 Use `ClockOps` in `Util#readWithTimeout`
  ember-core/shared/src/main/scala/org/http4s/ember/core/Util.scala
Labels: module:ember-core, series/0.23

#7163 Use `ClockOps` in `ResponseTiming` Middleware
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseTiming.scala
Labels: module:server, series/0.23

#7138 Add validation for server opening handshake response in Ember WebSocket client
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/WebSocketHelpers.scala
  ember-client/shared/src/test/scala/org/http4s/ember/client/internal/WebSocketHelpersSuite.scala
  server/shared/src/main/scala/org/http4s/server/websocket/WebSocketBuilder.scala
  server/shared/src/main/scala/org/http4s/server/websocket/WebSocketBuilder2.scala
Labels: module:ember-client, module:server, series/0.23

#7157 Mask errors in Ember server `runConnection`
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Labels: module:ember-server, series/0.23

#7165 Release v0.23.21
  docs/changelog.md
Labels: docs, series/0.23, behind-the-scenes

#7164 Migrate `Uri.Scheme` and `TransferCoding` to `CIString`
  circe/src/main/scala/org/http4s/circe/middleware/JsonDebugErrorHandler.scala
  client/js/src/main/scala/org/http4s/client/NodeJSClientBuilder.scala
  core/shared/src/main/scala/org/http4s/TransferCoding.scala
  core/shared/src/main/scala/org/http4s/Uri.scala
  core/shared/src/main/scala/org/http4s/internal/package.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/PseudoHeaders.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/shared/src/test/scala/org/http4s/SchemeSuite.scala
  tests/shared/src/test/scala/org/http4s/TransferCodingSpec.scala
Labels: module:core, module:client, module:ember-core, module:circe, module:laws

#7167 Use `MonadThrow` instead of `Sync` in `H2Client.RequestKey#getAddress`
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Labels: module:ember-core

#7168 Disable artifact upload
  .github/workflows/ci.yml
  build.sbt
Labels: series/0.23, behind-the-scenes

#7172 0.23 -> main
  .github/workflows/ci.yml
  .scalafmt.conf
  core/shared/src/main/scala/org/http4s/ContextRoutes.scala
  core/shared/src/main/scala/org/http4s/headers/Upgrade-Insecure-Requests.scala
  core/shared/src/main/scala/org/http4s/websocket/WebSocketFrameDefragmenter.scala
  docs/adopters.md
  docs/changelog.md
  docs/docs/dsl.md
  docs/docs/server-middleware.md
  ember-core/shared/src/main/scala/org/http4s/ember/core/Util.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/PseudoHeaders.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  project/Http4sPlugin.scala
  project/build.properties
  project/build.sbt
  project/plugins.sbt
  scalafix-internal/rules/src/main/scala-2/fix/GeneralLinters.scala
  scalafix-internal/rules/src/main/scala-2/fix/UseLiteralsSyntax.scala
  scalafix-internal/tests/src/test/scala-2/fix/RuleSuite.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseTiming.scala
  server/shared/src/main/scala/org/http4s/server/websocket/WebSocketBuilder.scala
  tests/shared/src/test/scala/org/http4s/headers/UpgradeInsecureRequestsSuite.scala
  tests/shared/src/test/scala/org/http4s/websocket/WebSocketFrameDefragmenterSuite.scala
Labels: docs, module:core, module:ember-server, module:server, module:ember-core, module:laws, behind-the-scenes

#7158 Clear the internal package of unused/deprecated things
  core/shared/src/main/scala/org/http4s/Uri.scala
  core/shared/src/main/scala/org/http4s/internal/package.scala
Labels: module:core, module:ember-core, module:circe, module:laws

#7180 Include query params in http2 :path pseudo header
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/PseudoHeaders.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/PsuedoHeadersSuite.scala
Labels: module:ember-core, series/0.23

#7126 Fix `QueryOps#setQueryParams` scaladoc
  core/shared/src/main/scala/org/http4s/QueryOps.scala
Labels: module:core, series/0.23

#7175 Cleanup of `org.http4s.internal`
  core/shared/src/main/scala/org/http4s/internal/SSLContextOption.scala
  core/shared/src/main/scala/org/http4s/internal/threads.scala
  ember-server/jvm/src/main/scala/org/http4s/ember/server/internal/ServerHelpersPlatform.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/tls.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/TlsSuite.scala
Labels: module:core, module:ember-server

#7173 A bunch of tweaks to `ClientHelpers`' methods
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Labels: module:ember-client, module:ember-core, series/0.23

#7183 Use `Assertions#assume` in tests
  tests/shared/src/test/scala/org/http4s/DecodeSpec.scala
  tests/shared/src/test/scala/org/http4s/UriSuite.scala
Labels: series/0.23, behind-the-scenes

#7092 Properly handle `NoSuchElementException` in `tlsSocket.applicationProtocol`
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Labels: module:ember-server, series/0.23

#7093 Allow providing custom error handler when connection establishing fails.
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Labels: module:ember-server, series/0.23

#7190 Release v0.23.22
  docs/changelog.md
Labels: docs, series/0.23, behind-the-scenes

#7166 Use `Clock` from `CE` instead of one from `java.time` in `CSRF` Middleware
  server/shared/src/main/scala/org/http4s/server/middleware/CSRF.scala
  server/shared/src/test/scala/org/http4s/server/middleware/CSRFSuite.scala
Labels: breaking, module:server
