Repository http4s/http4s, pull requests merged in 2023-01, with the labels that each got.

#6887 JS-Artifact: set header copyright to 2022
  build.sbt
Labels: series/0.23, behind-the-scenes

#6888 Ember server reduce state
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Labels: module:ember-server, series/0.23, behind-the-scenes

#6795 Tweak `UrlForm` constructors' performance
  core/shared/src/main/scala/org/http4s/UrlForm.scala
  tests/shared/src/test/scala/org/http4s/UrlFormSpec.scala
Labels: module:core, series/0.23

#6891 Merge 0.22 -> 0.23
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/NettyTestServer.scala
Labels: series/0.23, behind-the-scenes

#6893 Use Vault#contains to check for PriorKnowledge
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Labels: module:ember-core, series/0.23

#6895 Merge 0.23 -> main
  build.sbt
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/NettyTestServer.scala
  core/shared/src/main/scala/org/http4s/UrlForm.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  project/Http4sPlugin.scala
  tests/shared/src/test/scala/org/http4s/UrlFormSpec.scala
Labels: module:core, module:ember-server, module:ember-core, behind-the-scenes

#6896 Use jdk8 in default devshell
  flake.nix
Labels: series/0.23, behind-the-scenes

#6894 Try limiting Node.js heap size to 1GB
  build.sbt
Labels: series/0.23, behind-the-scenes

#6904 Post v0.21.34 cleanup
  core/src/main/scala/org/http4s/headers/User-Agent.scala
  core/src/main/scala/org/http4s/parser/HttpHeaderParser.scala
  core/src/main/scala/org/http4s/parser/Rfc2616BasicRules.scala
  core/src/main/scala/org/http4s/parser/SimpleHeaders.scala
  website/src/hugo/content/changelog.md
Labels: docs, module:core, behind-the-scenes

#6905 Cleanups after v0.22.15
  core/src/main/scala/org/http4s/ProductIdOrComment.scala
  core/src/main/scala/org/http4s/headers/HeaderCompanion.scala
  core/src/main/scala/org/http4s/headers/Server.scala
  core/src/main/scala/org/http4s/headers/User-Agent.scala
  core/src/main/scala/org/http4s/internal/parsing/Rfc7230.scala
  docs/changelog.md
  flake.lock
  tests/src/test/scala/org/http4s/parser/SimpleHeadersSpec.scala
Labels: docs, module:core, series/0.22

#6906 Post-0.23.17 cleanup
  core/shared/src/main/scala/org/http4s/ProductIdOrComment.scala
  core/shared/src/main/scala/org/http4s/headers/HeaderCompanion.scala
  core/shared/src/main/scala/org/http4s/headers/Server.scala
  core/shared/src/main/scala/org/http4s/headers/User-Agent.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/CommonRules.scala
  docs/changelog.md
  tests/shared/src/test/scala/org/http4s/parser/SimpleHeadersSpec.scala
Labels: docs, module:core, series/0.23, behind-the-scenes

#6914 Remove nonValidatingCopyConstructor linter
  core/shared/src/main/scala/org/http4s/Charset.scala
  core/shared/src/main/scala/org/http4s/HttpVersion.scala
  core/shared/src/main/scala/org/http4s/Uri.scala
  core/shared/src/main/scala/org/http4s/headers/Access-Control-Max-Age.scala
  core/shared/src/main/scala/org/http4s/headers/Age.scala
  core/shared/src/main/scala/org/http4s/headers/Content-Type.scala
  core/shared/src/main/scala/org/http4s/headers/Sec-WebSocket-Version.scala
  core/shared/src/main/scala/org/http4s/internal/CharPredicate.scala
  scalafix-internal/input/src/main/scala/fix/GeneralLintersTest.scala
  scalafix-internal/output/src/main/scala/fix/GeneralLintersTest.scala
  scalafix-internal/rules/src/main/scala-2/fix/GeneralLinters.scala
Labels: module:core, behind-the-scenes

#6919 Use `Chunk` builder instead of `Buffer` in `ChunkWriter`
  bench/src/main/scala/org/http4s/bench/ChunkWriterBench.scala
  core/shared/src/main/scala/org/http4s/internal/ChunkWriter.scala
Labels: module:core, series/0.23

#6920 Fix StackOverflowError initializing CommonRules
  core/shared/src/main/scala/org/http4s/headers/Server.scala
  core/shared/src/main/scala/org/http4s/headers/User-Agent.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/CommonRules.scala
Labels: module:core, series/0.23

#6753 Low-hanging Ember optimizations
  build.sbt
  ember-core/shared/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Shared.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Frame.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/Preface.scala
  ember-server/jvm/src/main/scala/org/http4s/ember/server/internal/ServerHelpersPlatform.scala
Labels: module:ember-server, module:ember-core, series/0.23, behind-the-scenes

#6921 Even less memory for Node.js
  build.sbt
Labels: series/0.23, behind-the-scenes

#6922 Use `Chunk` builder in `CirceInstances#streamedJsonArray`
  circe/src/main/scala/org/http4s/circe/CirceInstances.scala
Labels: module:circe, series/0.23

#6926 Release v0.23.18
  docs/changelog.md
Labels: docs, series/0.23, behind-the-scenes

#6935 Don't drain the body for non-streamed entities in EmberClient
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClient.scala
Labels: module:ember-client

#6930 Fix hanging when stream fails
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Labels: module:ember-server, series/0.23

#6936 Take into account the `Entity` model in `H2Server`
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Labels: module:ember-core

#6939 Merge 0.23.18 -> main
  .github/workflows/ci.yml
  bench/src/main/scala/org/http4s/bench/ChunkWriterBench.scala
  build.sbt
  circe/src/main/scala/org/http4s/circe/CirceInstances.scala
  core/shared/src/main/scala/org/http4s/ProductIdOrComment.scala
  core/shared/src/main/scala/org/http4s/headers/HeaderCompanion.scala
  core/shared/src/main/scala/org/http4s/headers/Server.scala
  core/shared/src/main/scala/org/http4s/headers/User-Agent.scala
  core/shared/src/main/scala/org/http4s/internal/ChunkWriter.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/CommonRules.scala
  docs/changelog.md
  ember-core/shared/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Shared.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Frame.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/Preface.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
  ember-server/jvm/src/main/scala/org/http4s/ember/server/internal/ServerHelpersPlatform.scala
  flake.lock
  project/Http4sPlugin.scala
  project/build.properties
  project/build.sbt
  project/plugins.sbt
  tests/shared/src/test/scala/org/http4s/parser/SimpleHeadersSpec.scala
Labels: docs, module:core, module:ember-server, module:ember-core, module:circe

#6940 Release v1.0.0-M39
  docs/changelog.md
Labels: docs, behind-the-scenes

#6948 Refactor `Outcome` usage in `BracketRequestResponseSuite`
  server/shared/src/test/scala/org/http4s/server/middleware/BracketRequestResponseSuite.scala
Labels: testing, module:server, series/0.23, behind-the-scenes
