Repository http4s/http4s, pull requests merged in 2024-10, with the labels that each got.

#7532 Draft the `v1.0.0-M42` release notes
  docs/changelog.md
Labels: docs

#7537 Fix for Uri macro with `org` variable
  core/shared/src/main/scala-2/org/http4s/LiteralSyntaxMacros.scala
  tests/shared/src/test/scala/org/http4s/LiteralSyntaxMacrosSuite.scala
Labels: bug, module:core, series/0.23

#7545 Ignore http4s-scalafix-internal updates
  .scala-steward.conf
Labels: series/0.23

#7549 prep for v0.23.29: update changelog
  docs/changelog.md
Labels: docs, series/0.23

#7550 merge v0.23.29 -> main
  .github/workflows/ci.yml
  .scala-steward.conf
  client/shared/src/test/scala/org/http4s/client/middleware/CookieJarSuite.scala
  core/shared/src/main/scala-2.13/org/http4s/LiteralSyntaxMacros.scala
  core/shared/src/main/scala/org/http4s/EntityTag.scala
  core/shared/src/main/scala/org/http4s/headers/Forwarded.scala
  core/shared/src/main/scala/org/http4s/headers/Link.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/Rfc3986.scala
  docs/changelog.md
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
  flake.lock
  project/Http4sPlugin.scala
  project/build.properties
  project/plugins.sbt
  scalafix-internal/rules/src/main/scala-2/fix/UseLiteralsSyntax.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
  server/shared/src/test/scala/org/http4s/server/middleware/HttpsRedirectSuite.scala
  tests/shared/src/test/scala/org/http4s/LiteralSyntaxMacrosSuite.scala
Labels: docs, module:core, module:ember-client, module:ember-server, module:client, module:server

#7570 Prep for 1.0.0-M43 release: update changelog + release guidelines
  RELEASING.md
  docs/changelog.md
Labels: docs

#7572 update 1.0.0-Mxx releasing guide re ancillary releases
  RELEASING.md
Labels: docs
