Repository http4s/http4s, pull requests merged in 2024-04, with the labels that each got.

#7422 Some tweaks to docs
  docs/docs/client.md
  docs/docs/service.md
  project/Http4sSitePlugin.scala
Labels: docs, series/0.23

#7417 Small refactor to DefaultClient to remove unsafe calls and repeated code
  client/shared/src/main/scala/org/http4s/client/DefaultClient.scala
Labels: module:client, series/0.23

#7428 feat: suppress stack trace on protocol exceptions
  core/shared/src/main/scala/org/http4s/websocket/protocolexceptions.scala
Labels: module:core, series/0.23

#7436 Replace "*Decoded" Part methods with "*Bytes"
  core/shared/src/main/scala/org/http4s/multipart/Part.scala
Labels: module:core, series/0.23

#7435 RFC: Cookies with `Max-Age=0` should be permitted
  core/shared/src/main/scala/org/http4s/ResponseCookie.scala
  tests/shared/src/test/scala/org/http4s/HeadersSpec.scala
Labels: module:core, series/0.23
