Repository http4s/http4s, pull requests merged in 2024-03, with the labels that each got.

#7387 Merge 0.23 -> main
  .github/release.yml
  .github/workflows/ci.yml
  .mergify.yml
  .scalafmt.conf
  build.sbt
  client-testkit/shared/src/main/scala/org/http4s/client/testkit/WSTestClient.scala
  client-testkit/shared/src/test/scala/org/http4s/client/testkit/WSTestClientSuite.scala
  core/shared/src/main/scala/org/http4s/Header.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/headers/Cookie.scala
  core/shared/src/main/scala/org/http4s/internal/CurlConverter.scala
  core/shared/src/main/scala/org/http4s/internal/PosixQuoting.scala
  core/shared/src/main/scala/org/http4s/multipart/MultipartDecoder.scala
  docs/changelog.md
  docs/code-of-conduct.md
  docs/docs/client-middleware.md
  docs/docs/directory.conf
  docs/docs/dsl.md
  docs/docs/error-handling.md
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Defaults.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  flake.lock
  project/Http4sPlugin.scala
  project/build.properties
  project/build.sbt
  project/plugins.sbt
  tests/shared/src/test/scala/org/http4s/MessageSuite.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartSuite.scala
  tests/shared/src/test/scala/org/http4s/parser/CookieHeaderSuite.scala
Labels: docs, module:core, module:ember-client, module:ember-server, module:ember-core, module:client-testkit

#7398 remove deprecated `comment` parser from CommonRules
  core/shared/src/main/scala/org/http4s/internal/parsing/CommonRules.scala
Labels: module:core

#7397 remove unused deprecated method asMaskBased
  core/shared/src/main/scala/org/http4s/internal/CharPredicate.scala
Labels: module:core

#7381 Fix the outdated code snippet in the client dsl scaladoc
  client/shared/src/main/scala/org/http4s/client/dsl/io.scala
Labels: docs, module:client, series/0.23

#7400 Prepare v0.23.26 release
  docs/changelog.md
Labels: docs, series/0.23

#7401 Removed reference to TSec in documentation
  docs/docs/auth.md
Labels: docs, series/0.23

#7404 Merge 0.23.26 -> main
  client/shared/src/main/scala/org/http4s/client/dsl/io.scala
  docs/changelog.md
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/ConnectionSuite.scala
  flake.lock
Labels: docs, module:ember-server, module:client

#7406 Draft the `v1.0.0-M41` release notes
  docs/changelog.md
Labels: docs

#7407 Move ember H2Keys Http2PriorKnowledge key to core
  core/shared/src/main/scala/org/http4s/h2/H2Keys.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Keys.scala
  ember-server/js-jvm/src/test/scala/org/http4s/ember/server/EmberUnixSocketSuite.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberClientH2Example.scala
Labels: module:core, module:ember-server, module:ember-core, series/0.23
