Repository http4s/http4s, pull requests merged in 2024-05, with the labels that each got.

#7372 #6521 History client middleware
  client/shared/src/main/scala/org/http4s/client/middleware/History.scala
  client/shared/src/test/scala/org/http4s/client/middleware/HistorySuite.scala
Labels: module:client, series/0.23

#7328 Documentation form multipart and urlform
  docs/docs/multipart.md
Labels: docs, module:core, series/0.23

#7433 Prepare v0.23.27
  docs/changelog.md
Labels: docs, series/0.23
