Repository http4s/http4s, pull requests merged in 2024-01, with the labels that each got.

#7351 Draft the `v0.23.25` release notes
  docs/changelog.md
Labels: docs, series/0.23

#7354 Fix labelling PRs for the `client-testkit` module
  .github/release.yml
  .mergify.yml
Labels: series/0.23, behind-the-scenes

#7355 Refactor `release.yml`
  .github/release.yml
Labels: series/0.23, behind-the-scenes

#7357 Add OptionalMultiQueryParamDecoderMatcher Documentation
  docs/docs/dsl.md
Labels: docs, series/0.23

#7363 Log errors in `upgradeSocket`
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Labels: module:ember-server, series/0.23
