Repository http4s/http4s, pull requests merged in 2024-12, with the labels that each got.

#7589 Simplify form example
  docs/docs/multipart.md
Labels: docs, series/0.23

#7593 prep for v0.23.30: changelog update
  docs/changelog.md
Labels: docs, series/0.23

#7594 merge 0.23.30 -> main
  core/shared/src/main/scala/org/http4s/headers/X-Forwarded-Host.scala
  docs/changelog.md
  docs/docs/dsl.md
  docs/docs/multipart.md
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
  flake.lock
  project/Http4sPlugin.scala
  project/build.properties
  project/build.sbt
  project/plugins.sbt
  tests/shared/src/test/scala/org/http4s/parser/SimpleHeadersSpec.scala
Labels: docs, module:core, module:ember-core

#7596 Prep for v1.0.0-M44: update changelog
  docs/changelog.md
Labels: docs

#7603 Respond with a 413 when raising an `EntityTooLarge`
  server/shared/src/main/scala/org/http4s/server/middleware/EntityLimiter.scala
  server/shared/src/main/scala/org/http4s/server/package.scala
  server/shared/src/test/scala/org/http4s/server/middleware/EntityLimiterSuite.scala
Labels: module:server, series/0.23
