Repository http4s/http4s, pull requests merged in 2024-09, with the labels that each got.

#7510 Minor optimization in ServerResponse
  core/js/src/main/scala/org/http4s/nodejs/ServerResponse.scala
Labels: module:core, series/0.23, behind-the-scenes

#7511 Fix EmptyCustomLabels and SizedSeq0 singleton creation issue
  core/shared/src/main/scala/org/http4s/metrics/CustomLabels.scala
  core/shared/src/main/scala/org/http4s/util/SizedSeq.scala
Labels: module:core, series/0.23

#7517 Prepare release v0.23.28
  docs/changelog.md
Labels: docs, series/0.23

#7519 notes on how to put together a v0.23.xx release
  RELEASING.md
Labels: series/0.23

#7518 Merge 0.23.28 -> main
  .github/workflows/ci.yml
  RELEASING.md
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  core/js/src/main/scala/org/http4s/nodejs/ServerResponse.scala
  core/shared/src/main/scala/org/http4s/metrics/CustomLabels.scala
  core/shared/src/main/scala/org/http4s/metrics/CustomMetricsOps.scala
  core/shared/src/main/scala/org/http4s/util/SizedSeq.scala
  docs/changelog.md
  docs/docs/client.md
  flake.lock
  project/Http4sPlugin.scala
  project/build.properties
  project/build.sbt
  project/plugins.sbt
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
Labels: docs, module:core, module:ember-client, module:ember-server, module:client, module:server, module:ember-core, module:circe, module:client-testkit
