Repository http4s/http4s, pull requests merged in 2024-11, with the labels that each got.

#7582 Fix/i7538 end stream by trailers cause client to hang
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Labels: module:ember-core, series/0.23

#7584 tidy: client stream should start from idle state
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Labels: module:ember-core, series/0.23

#7577 Add `X-Forwarded-Host` header
  core/shared/src/main/scala/org/http4s/headers/X-Forwarded-Host.scala
  tests/shared/src/test/scala/org/http4s/parser/SimpleHeadersSpec.scala
Labels: module:core, series/0.23

#7581 Add documenation for FlagQueryParamMatcher.
  docs/docs/dsl.md
Labels: docs, series/0.23
