Repository http4s/http4s, pull requests merged in 2024-06, with the labels that each got.

#7452 Made traits and objects public for Node.js files
  core/js/src/main/scala/org/http4s/nodejs/ClientRequest.scala
  core/js/src/main/scala/org/http4s/nodejs/IncomingMessage.scala
  core/js/src/main/scala/org/http4s/nodejs/ServerResponse.scala
Labels: module:core, series/0.23

#7454 Fix bitrotten Nix actions
  .github/workflows/ci.yml
  build.sbt
Labels: series/0.23

#7445 WebSocket client `Reconnect` middleware
  client-testkit/shared/src/test/scala/org/http4s/client/websocket/middleware/ReconnectSuite.scala
  client/shared/src/main/scala/org/http4s/client/websocket/middleware/Reconnect.scala
Labels: module:client, series/0.23, module:client-testkit

#7472 Ember Client : Retry when connection reset on JDK 17+
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Labels: module:ember-client, series/0.23
