Repository http4s/http4s, pull requests merged in 2025-04, with the labels that each got.

#7611 Remove code duplication in `RequestId` middleware
  build.sbt
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  project/Http4sPlugin.scala
  project/plugins.sbt
  server/shared/src/main/scala/org/http4s/server/middleware/RequestId.scala
  tests/native/src/main/scala/org/http4s/Http4sSuitePlatform.scala
Labels: module:server, module:ember-core, series/0.23

#7661 Rename HTTP 422 status
  build.sbt
  core/shared/src/main/scala/org/http4s/MessageFailure.scala
  core/shared/src/main/scala/org/http4s/Status.scala
  dsl/src/main/scala/org/http4s/dsl/impl/Responses.scala
  dsl/src/main/scala/org/http4s/dsl/impl/Statuses.scala
  dsl/src/test/scala/org/http4s/dsl/ResponseGeneratorSuite.scala
  tests/shared/src/test/scala/org/http4s/EntityDecoderSuite.scala
Labels: module:core, module:dsl, series/0.23

#7660 Document Scala 2.x mill giter8 template support
  docs/docs/quickstart.md
Labels: docs, series/0.23

#7665 Remove Cachix
  .github/workflows/ci.yml
  build.sbt
Labels: series/0.23

#7673 Merge series/0.23 into main
  .git-blame-ignore-revs
  .github/workflows/ci.yml
  .scalafmt.conf
  build.sbt
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/NettyTestServer.scala
  core/shared/src/main/scala/org/http4s/ContentCoding.scala
  core/shared/src/main/scala/org/http4s/LanguageTag.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/MessageFailure.scala
  core/shared/src/main/scala/org/http4s/MimeDB.scala
  core/shared/src/main/scala/org/http4s/Status.scala
  core/shared/src/main/scala/org/http4s/Uri.scala
  core/shared/src/main/scala/org/http4s/headers/If-Match.scala
  core/shared/src/main/scala/org/http4s/headers/If-None-Match.scala
  docs/docs/quickstart.md
  docs/docs/testing.md
  dsl/src/main/scala/org/http4s/dsl/impl/Path.scala
  dsl/src/main/scala/org/http4s/dsl/impl/Responses.scala
  dsl/src/main/scala/org/http4s/dsl/impl/Statuses.scala
  dsl/src/test/scala/org/http4s/dsl/ResponseGeneratorSuite.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Shared.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberClientH2Example.scala
  flake.lock
  project/Http4sPlugin.scala
  project/MimeLoader.scala
  project/build.properties
  project/build.sbt
  project/plugins.sbt
  server/shared/src/main/scala/org/http4s/server/middleware/EntityLimiter.scala
  server/shared/src/main/scala/org/http4s/server/middleware/RequestId.scala
  server/shared/src/main/scala/org/http4s/server/package.scala
  server/shared/src/test/scala/org/http4s/server/middleware/EntityLimiterSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/authentication/AuthenticationSuite.scala
  tests/native/src/main/scala/org/http4s/Http4sSuitePlatform.scala
  tests/shared/src/test/scala/org/http4s/EntityDecoderSuite.scala
  tests/shared/src/test/scala/org/http4s/headers/ContentLengthSuite.scala
Labels: docs, module:core, module:server, module:dsl, module:ember-core, module:client-testkit
