Repository http4s/http4s, pull requests merged in 2025-09, with the labels that each got.

#7715 Merge 0.23 to main
  core/shared/src/main/scala/org/http4s/headers/Set-Cookie.scala
  core/shared/src/main/scala/org/http4s/headers/Transfer-Encoding.scala
  core/shared/src/main/scala/org/http4s/headers/User-Agent.scala
  flake.nix
  project/CentralRequirements.scala
  project/Http4sPlugin.scala
  project/build.properties
  project/plugins.sbt
Labels: module:core

#7723 Update changelog.md for 0.23.32
  docs/changelog.md
Labels: docs, series/0.23

#7724 Make `[bot]` a link in changelog.md
  docs/changelog.md
Labels: docs, series/0.23

#7727 Drop codecov action
  .github/workflows/ci.yml
  build.sbt
Labels: series/0.23

#7726 Add uncheckedStable to Statuses.UnprocessableContent
  dsl/src/main/scala/org/http4s/dsl/impl/Statuses.scala
  dsl/src/test/scala/org/http4s/dsl/ResponseGeneratorSuite.scala
Labels: module:dsl, series/0.23
